<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Baixar Parcelas</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Baixar Parcelas</a>
            </li>
            <li class="breadcrumb-item active">Baixar Parcelas</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="card col-12 padd-left0 padd-right0">
        <div class="card">
            <div class="card-block" style="display: inline;">

                <div class="m-t-40">
                    <div class="d-flex">
                        <div class="col-lg-8 col-md-8 align-content-lg-end">
                            <div class="row button-group">
                                <div class="">
                                    <button type="button" class="btn btn-success" (click)="cadastrarTituloParcelaBaixa()">
                                        <i class="fa fa-plus"></i> Cadastrar </button>
                                </div>
                                <div class="" *ngIf="natureza == 'receber'">
                                    <button type="button" class="btn btn-warning" (click)="showModalSangria = true">
                                        <i class="fa fa-refresh"></i> Sangria </button>
                                </div>
                                <div class="" *ngIf="natureza == 'receber'">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-contacorrente" (click)="tipoOperacao = 'ABE'">
                                        <i class="fa fa-folder-open"></i> Abertura </button>
                                </div>
                                <div class="" *ngIf="natureza == 'receber'">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".modal-contacorrente" (click)="tipoOperacao = 'FEC'">
                                        <i class="fa fa-folder"></i> Fechamento </button>
                                </div>
                                <div class="" *ngIf="natureza == 'receber'">
                                    <button type="button" class="btn btn-info" (click)="showModalAvulsoReforco = true">
                                        <i class="fa fa-money"></i> Reforço / Avulso </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-group float-right padd-left15">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-list"></i>
                                    </button>
                                    <div class="dropdown-menu animated flipInY">
                                        <a class="dropdown-item" (click)="gerarExcel(table,'tablebaixaparcela');" ngbTooltip="Excel">
                                            <i class="fa fa-file-excel-o"> &nbsp;Excel</i>
                                        </a>
                                        <a class="dropdown-item" (click)="gerarPDF('tablebaixaparcela');" ngbTooltip="PDF">
                                            <i class="fa fa-file-pdf-o">&nbsp;PDF</i>
                                        </a>
                                    </div>
                                </div>
                    
                                <div class="form-group float-right padd-left15">
                                    <input id="demo-input-search2" type="text" [(ngModel)]="filterQuery" placeholder="Pesquisar..." class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="table-responsive">
                    <table #table id="tablebaixaparcela" *ngIf="data != undefined" class="table m-b-0 toggle-arrow-tiny color-table info-table"
                        [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" (mfSelectedEntities)="setSelectedEntities($event)">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="codigo">Código</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="data">Data de Pagamento</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="valor">Valor Total</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let tituloparcelabaixa of mf.data" (click)="editarTituloParcelaBaixa(tituloparcelabaixa.id)" style="cursor:pointer">
                                <td>{{ tituloparcelabaixa.codigo }}</td>
                                <td>{{ tituloparcelabaixa.data | date:'dd/MM/yyyy'}}</td>
                                <td>{{ tituloparcelabaixa.valor | currency:'BRL':'symbol' }}</td>
                                <td>
                                    <div *ngIf="tituloparcelabaixa.excluido == 'N'" class="label label-table label-success">Ativo</div>
                                    <div *ngIf="tituloparcelabaixa.excluido == 'S'" class="label label-table label-danger">Inativo</div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- modal escolha conta corrente caixa -->
<div class="modal fade modal-contacorrente" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="display: none">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Selecione uma Conta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" novalidate [formGroup]="contaCorrenteForm">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Conta</label>
                            <select class="custom-select col-md-12" id="contaCorrenteId" name="contaCorrenteId" formControlName="contaCorrenteId">
                                <option *ngFor="let contaCorrente of contasCorrente" [ngValue]="contaCorrente.id">{{ contaCorrente.descricao }}</option>
                            </select>
                            <span class="text-danger" *ngIf="displayMessage.contaCorrenteId">
                                <p [innerHTML]="displayMessage.contaCorrenteId"></p>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row button-group">
                        <div class="col-lg-6 col-md-6 align-content-lg-end">
                            <button class="btn btn-block btn-secondary" data-dismiss="modal" type="button">
                                <i class="fa fa-mail-reply"></i>Cancelar</button>
                        </div>

                        <div class="col-lg-6 col-md-6">

                            <button class="btn btn-block btn-success" [disabled]='!contaCorrenteForm.valid' type="button" data-dismiss="modal" (click)="operacaoAbeturaFechamento()">
                                <i class="fa fa-check"></i> Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-sangriacaixa *ngIf="showModalSangria != false" [(visible)]="showModalSangria"></app-sangriacaixa>
<app-lancamentoavulsoreforco *ngIf="showModalAvulsoReforco != false" [(visible)]="showModalAvulsoReforco"></app-lancamentoavulsoreforco>