<div class="row page-titles">
  <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Faturamento</h3>
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="javascript:void(0)">Faturamento</a>
          </li>
          <li class="breadcrumb-item active">Faturamento</li>
      </ol>
  </div>
</div>

<div class="row">
  <div class="card col-12 padd-left0 padd-right0">
      <div class="card">
          <div class="card-block" style="display: inline;">

              <div class="m-t-40">
                  <div class="d-flex">
                      <div class="ml-auto">
                          <div class="form-group">
                              <!-- <input id="demo-input-search2" type="text" [(ngModel)]="filterQuery" placeholder="Pesquisar..." class="form-control" autocomplete="off"> -->
                          </div>
                      </div>
                  </div>
              </div>

              <div class="table-responsive">
                  <table *ngIf="data != undefined" class="table m-b-0 toggle-arrow-tiny color-table info-table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
                      <thead>
                          <tr>
                            <th>
                              <mfDefaultSorter by="cliente.pessoa.nome">Cliente</mfDefaultSorter>
                            </th>          
                            <th>
                              <mfDefaultSorter by="dataEmissao">Data de Emissão</mfDefaultSorter>
                            </th>    
                            <th>
                              <mfDefaultSorter by="dataVencimento">Data de Vencimento</mfDefaultSorter>
                            </th>    
                            <th>
                              <mfDefaultSorter by="valorDocumento">Vlr. Total</mfDefaultSorter>
                            </th>     
                            <th>
                              <mfDefaultSorter by="valorLiquido">Vlr. Líquido</mfDefaultSorter>
                            </th>                                                      
                            <th>
                              <mfDefaultSorter by="situacao">Situação</mfDefaultSorter>
                            </th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let faturamento of mf.data" style="cursor:pointer">                        
                                    
                          <td>{{ faturamento.cliente.pessoa.nome }}</td>
                          <td>{{ faturamento.dataEmissao | date : 'dd/MM/yyyy' }}</td>
                          <td>{{ faturamento.dataVencimento | date : 'dd/MM/yyyy'}}</td>
                          <td>{{ faturamento.valorDocumento | currency:'BRL':true:'1.2-2' }}</td>
                          <td>{{ faturamento.valorLiquido | currency:'BRL':true:'1.2-2' }}</td>
                          <td>{{ faturamento.situacao }}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <td colspan="4">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                      </tfoot>
                  </table>
              </div>

          </div>
      </div>
  </div>
</div>