<div class="row">
    <div class="card col-md-12">
        <div class="card">
            <div class="card-block" style="display: inline;">

                <div class="m-t-40">
                    <div class="d-flex">
                        <div class="col-md-6 align-content-lg-end">
                            <div class="row button-group">
                                <div>
                                    <button type="button" class="btn btn-success" (click)="cadastrarEmpresa()">
                                        <i class="fa fa-plus"></i> Cadastrar </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group float-right padd-left15">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-list"></i>
                                </button>
                                <div class="dropdown-menu animated flipInY">
                                    <a class="dropdown-item" (click)="gerarExcel(table,'tableEmpresa');" ngbTooltip="Excel">
                                        <i class="fa fa-file-excel-o"> &nbsp;Excel</i>
                                    </a>
                                    <a class="dropdown-item" (click)="gerarPDF('tableEmpresa');" ngbTooltip="PDF">
                                        <i class="fa fa-file-pdf-o">&nbsp;PDF</i>
                                    </a>
                                </div>
                            </div>
                
                            <div class="form-group float-right padd-left15">
                                <input id="demo-input-search2" type="text" [(ngModel)]="filterQuery" placeholder="Pesquisar..." class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table #table id="tableEmpresa" class="table m-b-0 toggle-arrow-tiny color-table info-table" [mfData]="data | dataFilter : filterQuery"
                        #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="codigo">Código</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="nome">Razão Social</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="fantasia">Nome Fantasia</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let empresa of mf.data" (click)="editarEmpresa(empresa.pessoaId)" style="cursor:pointer">
                                <td>{{ empresa.pessoa.codigo }}</td>
                                <td>{{ empresa.pessoa.nome }}</td>
                                <td>{{ empresa.pessoa.fantasia }}</td>
                                <td>
                                    <div *ngIf="empresa.excluido == 'N'" class="label label-table label-success">Ativo</div>
                                    <div *ngIf="empresa.excluido == 'S'" class="label label-table label-danger">Inativo</div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>