  <div class="row">
    <div class="card col-md-12 padd-left0 padd-right0">
      <div class="card">
        <div class="card-header">
          <h4 class="m-b-0 text-white">Cadastro</h4>
        </div>
        <div class="card-block">
  
          <form class="form-horizontal" [formGroup]="agenciaForm">
            <div class="form-body col-12">
              <div class="row p-t-20">
  
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Grupo</label>
                    <select class="custom-select col-md-12" id="grupoEmpresaId" name="grupoEmpresaId" formControlName="grupoEmpresaId">
                      <option *ngFor="let grupoEmpresa of grupoEmpresas" [ngValue]="grupoEmpresa.id">{{ grupoEmpresa.pessoa.nome }}</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.grupoEmpresaId">
                      <p [innerHTML]="displayMessage.grupoEmpresaId"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Empresa</label>
                    <select class="custom-select col-md-12" id="empresaId" name="empresaId" formControlName="empresaId">
                      <option *ngFor="let empresa of empresas" [ngValue]="empresa.id">{{ empresa.pessoa.nome }}</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.empresaId">
                      <p [innerHTML]="displayMessage.empresaId"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Banco</label>
                    <select class="custom-select col-md-12" id="bancoId" name="bancoId" formControlName="bancoId">
                      <option *ngFor="let banco of bancos" [ngValue]="banco.id">{{ banco.descricao }}</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.bancoId">
                      <p [innerHTML]="displayMessage.bancoId"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                    <label class="control-label" for="codigo">Código</label>
                    <input type="text" id="codigo" name="codigo" class="form-control text-input" formControlName="codigo" />
                    <span class="text-danger" *ngIf="displayMessage.codigo">
                      <p [innerHTML]="displayMessage.codigo"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label" for="digito">Dígito</label>
                    <input type="text" id="digito" name="digito" class="form-control text-input" formControlName="digito" />
                    <span class="text-danger" *ngIf="displayMessage.digito">
                      <p [innerHTML]="displayMessage.digito"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="form-group" [ngClass]="{'has-error': displayMessage.sigla }">
                    <label class="control-label" for="sigla">Sigla</label>
                    <input type="text" id="sigla" name="sigla" class="form-control text-input" formControlName="sigla" />
                    <span class="text-danger" *ngIf="displayMessage.sigla">
                      <p [innerHTML]="displayMessage.sigla"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-error': displayMessage.descricao }">
                    <label class="control-label" for="descricao">Descrição</label>
                    <input type="text" id="descricao" name="descricao" minlength="3" maxlength="100" class="form-control text-input" formControlName="descricao" />
                    <span class="text-danger" *ngIf="displayMessage.descricao">
                      <p [innerHTML]="displayMessage.descricao"></p>
                    </span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-error': displayMessage.gerente }">
                    <label class="control-label" for="gerente">Gerente</label>
                    <input type="text" id="gerente" name="gerente" minlength="3" maxlength="60" class="form-control text-input" formControlName="gerente" />
                    <span class="text-danger" *ngIf="displayMessage.gerente">
                      <p [innerHTML]="displayMessage.gerente"></p>
                    </span>
                  </div>
                </div>
  
  
                <div class="col-md-12">
                  <h3 class="box-title m-t-0">Endereco</h3>
                  <hr>
                </div>
  
                <div class="col-md-2">
                  <div class="form-group" [ngClass]="{'has-error': displayMessage.cep }">
                    <label class="control-label" for="cep">CEP</label>
                    <input type="text" [textMask]="{ mask: cepMask }" (blur)="ConsultaCEP($event.target.value)" id="cep" name="cep" class="form-control text-input" formControlName="cep" />
                    <span class="text-danger" *ngIf="displayMessage.cep">
                      <p [innerHTML]="displayMessage.cep"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-error': displayMessage.logradouro }">
                    <label class="control-label" for="logradouro">Logradouro</label>
                    <input type="text" readonly="true" id="logradouro" name="logradouro" class="form-control text-input" formControlName="logradouro"
                    />
                    <span class="text-danger" *ngIf="displayMessage.logradouro">
                      <p [innerHTML]="displayMessage.logradouro"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-2">
                  <div class="form-group" [ngClass]="{'has-error': displayMessage.numero }">
                    <label class="control-label" for="numero">Número</label>
                    <input type="text" id="numero" name="numero" class="form-control text-input" formControlName="numero"
                    />
                    <span class="text-danger" *ngIf="displayMessage.numero">
                      <p [innerHTML]="displayMessage.numero"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-2">
                  <div class="form-group" [ngClass]="{'has-error': displayMessage.complemento }">
                    <label class="control-label" for="complemento">Complemento</label>
                    <input type="text" id="complemento" name="complemento" class="form-control text-input" formControlName="complemento"
                    />
                    <span class="text-danger" *ngIf="displayMessage.complemento">
                      <p [innerHTML]="displayMessage.complemento"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-4">
                  <div class="form-group" [ngClass]="{'has-error': displayMessage.bairro }">
                    <label class="control-label" for="bairro">Bairro</label>
                    <input type="text" readonly="true" id="bairro" name="bairro" class="form-control text-input" formControlName="bairro"
                    />
                    <span class="text-danger" *ngIf="displayMessage.bairro">
                      <p [innerHTML]="displayMessage.bairro"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Cidade</label>
                    <select [disableControl]="agencia.cep != ' '" class="custom-select col-md-12" id="localidadeId" name="localidadeId" formControlName="localidadeId">
                      <option *ngFor="let localidade of localidades" [ngValue]="localidade.id">{{ localidade.descricao }}</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.localidadeId">
                      <p [innerHTML]="displayMessage.localidadeId"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Estado</label>
                    <select [disableControl]="agencia.cep != ' '" class="custom-select col-md-12" id="ufId" name="ufId" formControlName="ufId">
                      <option *ngFor="let uf of ufs" [ngValue]="uf.id">{{ uf.descricao }}</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.ufId">
                      <p [innerHTML]="displayMessage.ufId"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-2">
                  <div class="form-group">
                    <label>País</label>
                    <select [disableControl]="agencia.cep != ' '" class="custom-select col-md-12" id="paisId" name="paisId" formControlName="paisId">
                      <option  *ngFor="let pais of paises" [ngValue]="pais.id">{{ pais.descricao }}</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.paisId">
                      <p [innerHTML]="displayMessage.paisId"></p>
                    </span>
                  </div>
                </div>
  
  
              </div>
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </div>