<div class="row">
  <div class="card col-md-12 padd-left0 padd-right0">
    <div class="card">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Cadastro</h4>
      </div>
      <div class="card-block">
        <form novalidate [formGroup]="tipoBeneficioForm">
          <div class="form-body col-12">
            <div class="row p-t-20">

              <div class="col-md-6">
                <div class="form-group">
                  <label>Grupo</label>
                  <select class="custom-select col-md-12" id="grupoEmpresaId" name="grupoEmpresaId" formControlName="grupoEmpresaId">
                    <option *ngFor="let grupoEmpresa of grupoEmpresas" [ngValue]="grupoEmpresa.id">{{ grupoEmpresa.pessoa.nome }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.grupoEmpresaId">
                    <p [innerHTML]="displayMessage.grupoEmpresaId"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Empresa</label>
                  <select class="custom-select col-md-12" id="empresaId" name="empresaId" formControlName="empresaId">
                    <option *ngFor="let empresa of empresas" [ngValue]="empresa.id">{{ empresa.pessoa.nome }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.empresaId">
                    <p [innerHTML]="displayMessage.empresaId"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                  <label class="control-label" for="codigo">Código</label>
                  <input type="text" id="codigo" name="codigo" class="form-control text-input" formControlName="codigo" />
                  <span class="text-danger" *ngIf='displayMessage.codigo'>
                    <p [innerHTML]="displayMessage.codigo"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.sigla }">
                  <label class="control-label" for="sigla">Sigla</label>
                  <input type="text" id="sigla" name="sigla" class="form-control text-input" formControlName="sigla" />
                  <span class="text-danger" *ngIf='displayMessage.sigla'>
                    <p [innerHTML]="displayMessage.sigla"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.descricao }">
                  <label class="control-label" for="descricao">Descrição</label>
                  <input type="text" id="descricao" name="descricao" class="form-control text-input" formControlName="descricao" />
                  <span class="text-danger" *ngIf="displayMessage.descricao">
                    <p [innerHTML]="displayMessage.descricao"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Tipo</label>
                  <select class="custom-select col-md-12" [(ngModel)]="tipoBeneficio.tipo" name="tipo" formControlName="tipo">
                    <option *ngFor="let row of tipo" [ngValue]="row.id">{{row.valor}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="aliquotaDesconto">Alíquota de Desconto</label>
                  <div class="input-group">
                    <input type="text" currencyMask id="aliquotaDesconto" name="aliquotaDesconto" class="form-control text-input" formControlName="aliquotaDesconto"
                    />
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="valor">Valor</label>
                  <div class="input-group">
                    <span class="input-group-addon">R$</span>
                    <input type="text" currencyMask id="valor" name="valor" class="form-control text-input" formControlName="valor" [min]="1"
                    />
                  </div>
                  <span class="text-danger" *ngIf="displayMessage.valor">
                    <p [innerHTML]="displayMessage.valor"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">

                  <div class="form-check" style="margin-top: 20px;">

                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" formControlName="diasTrabalhados" (ngModelChange)="diasTrabalhados = $event"
                        [checkBoxSet]="diasTrabalhados">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Dias Trabalhados?</span>
                    </label>

                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" formControlName="descontaDiasFerias" (ngModelChange)="descontaDiasFerias = $event"
                        [checkBoxSet]="descontaDiasFerias">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Desconta Dias de Férias?</span>
                    </label>

                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" formControlName="descontaDiasAfastamento" (ngModelChange)="descontaDiasAfastamento = $event"
                        [checkBoxSet]="descontaDiasAfastamento">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Desconta Dias de Afastamento?</span>
                    </label>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>