<div class="modal" data-backdrop="static">


  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myLargeModalLabel">Regime Tributário</h4>
      <button type="button" class="close" *ngIf="visible" (click)="close()">×</button>
    </div>

    <div class="card-block">
      <form class="form-horizontal" novalidate (ngSubmit)="editarPessoaRegimeTributario()" [formGroup]="pessoaRegimeTributarioForm">
        <div class="form-body">
          <div class="row p-t-20">

            <div class="col-md-12">
              <div class="form-group">
                <label>Regime Tributário</label>
                <select class="custom-select col-md-12" id="regimeTributarioId" name="regimeTributarioId" formControlName="regimeTributarioId">
                  <option *ngFor="let regimeTributario of regimeTributarios" [ngValue]="regimeTributario.id">{{ regimeTributario.descricao }}</option>
                </select>
                <span class="text-danger" *ngIf="displayMessage.regimeTributarioId">
                  <p [innerHTML]="displayMessage.regimeTributarioId"></p>
                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="dataInicio">Data Início</label>
                <input type="date" autocomplete="off" id="dataInicio" name="dataInicio" class="form-control text-input" formControlName="dataInicio" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="dataFim">Data Final</label>
                <input type="date" autocomplete="off" id="dataFim" name="dataFim" class="form-control text-input" formControlName="dataFim" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group" [ngClass]="{'has-error': displayMessage.motivo }">
                <label class="control-label" for="motivo">Motivo</label>
                <input type="text" autocomplete="off" id="motivo" name="motivo" class="form-control text-input" formControlName="motivo" />
                <span class="text-danger" *ngIf="displayMessage.motivo">
                  <p [innerHTML]="displayMessage.motivo"></p>
                </span>
              </div>
            </div>

          </div>
        </div>

        <div class="form-actions">
          <div class="row p-t-5">

            <div class="col-md-4">
              <button type="button" class="btn btn-block btn-secondary" (click)="cancelar()">
                <i class="fa fa-mail-reply"></i> Cancelar</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button type="button" [disabled]='!pessoaRegimeTributarioForm.valid' class="btn btn-block btn-success" (click)="editarPessoaRegimeTributario()">
                <i class="fa fa-check"></i> Editar</button>
            </div>
            <div class="col-md-4"></div>
            <br>

          </div>
        </div>

      </form>

    </div>
  </div>