<div class="row">
  <div class="card col-md-12 padd-left0 padd-right0">
    <div class="card">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Renegociação</h4>
      </div>
      <div class="card-block">

        <form class="form-horizontal" novalidate [formGroup]="gerarRenegociacaoForm">
          <div class="form-body col-12">
            <div class="row p-t-5">

              <div class="col-md-12">

                <div class="row p-t-20">

                  <div class="col-md-5">
                    <div class="form-group">
                      <label>Grupo</label>
                      <select class="custom-select col-12" id="grupoEmpresaId" name="grupoEmpresaId" formControlName="grupoEmpresaId" (ngModelChange)="ConsultaEmpresa($event)"
                        (ngModelChange)="renegociacaoComponent.Renegociacao.grupoEmpresaId = $event">
                        <option *ngFor="let grupoEmpresa of grupoEmpresas" [ngValue]="grupoEmpresa.id">{{ grupoEmpresa.pessoa.nome
                          }}
                        </option>
                      </select>
                      <span class="text-danger" *ngIf="displayMessage.grupoEmpresaId">
                        <p [innerHTML]="displayMessage.grupoEmpresaId"></p>
                      </span>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label>Empresa</label>
                      <select class="custom-select col-12" id="empresaId" name="empresaId" formControlName="empresaId" (ngModelChange)="ConsultaSelectEmpresa($event)"
                        (ngModelChange)="renegociacaoComponent.Renegociacao.empresaId = $event">>
                        <option *ngFor="let empresa of empresas" [ngValue]="empresa.id">{{ empresa.pessoa.nome }}</option>
                      </select>
                      <span class="text-danger" *ngIf="displayMessage.empresaId">
                        <p [innerHTML]="displayMessage.empresaId"></p>
                      </span>
                    </div>
                  </div>


                  <!-- <div class="col-md-4" *ngIf="natureza == 'receber'">
                    <div class="form-group">
                      <label>Cliente</label>
                      <select class="custom-select col-md-12" id="clienteId" name="clienteId" formControlName="clienteId">
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">{{ cliente.pessoa.nome }}</option>
                      </select>
                      <span class="text-danger" *ngIf="displayMessage.clienteId">
                        <p [innerHTML]="displayMessage.clienteId"></p>
                      </span>
                    </div>
                  </div>

                  <div class="col-md-4" *ngIf="natureza == 'pagar'">
                    <div class="form-group">
                      <label>Fornecedor</label>
                      <select class="custom-select col-md-12" id="fornecedorId" name="fornecedorId" formControlName="fornecedorId">
                        <option *ngFor="let fornecedor of fornecedores" [ngValue]="fornecedor.id">{{ fornecedor.pessoa.nome
                          }}
                        </option>
                      </select>
                      <span class="text-danger" *ngIf="displayMessage.fornecedorId">
                        <p [innerHTML]="displayMessage.fornecedorId"></p>
                      </span>
                    </div>
                  </div> -->

                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="control-label" for="dataRenegociacao">Data Renegociação</label>
                      <input type="date" autocomplete="off" id="dataRenegociacao" name="dataRenegociacao" class="form-control text-input" formControlName="dataRenegociacao"
                      />
                      <span class="text-danger" *ngIf="displayMessage.dataRenegociacao">
                        <p [innerHTML]="displayMessage.dataRenegociacao"></p>
                      </span>
                    </div>
                  </div>


                </div>

                <div class="card color-bordered-table info-bordered-table">

                  <div class="card-header">
                    <h4 class="m-b-0 text-white">Parcelas a Renegociar</h4>
                  </div>
                  <br>
                  <div class="col-12">
                    <div class="row p-t-5">

                      <div class="table-responsive col-md-12" *ngIf="renegociacaoComponent.Parcelas != null">
                        <table *ngIf="data != undefined" class="table m-b-0 toggle-arrow-tiny color-table info-table" [mfData]="data" #mf="mfDataTable"
                          [mfRowsOnPage]="5" (mfSelectedEntities)="setSelectedEntities($event)">
                          <thead>
                            <tr>

                              <th>
                                <mfDefaultSorter by="tituloId">Titulo</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="numero">Nro. Parcela</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="dataVencimento">Dt. Vencimento</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="valorBruto">Valor Bruto</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="valorDesconto">Valor Desconto</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="valorLiquido">Valor Liquido</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="situacao">Situação</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by=""></mfDefaultSorter>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let reg of renegociacaoComponent.Parcelas">

                              <td>{{ reg.tituloId }}</td>
                              <td>{{ reg.numero }}/{{ reg.quantidadeParcela }}</td>
                              <td *ngIf="reg._Cliente != undefined">{{ reg._Cliente.pessoa.nome }}</td>
                              <td *ngIf="reg.fornecedor != undefined">{{ reg.fornecedor.pessoa.nome }}</td>
                              <td>{{ reg.dataVencimento | date:'dd/MM/yyyy' }}</td>
                              <td>{{ reg.valorBruto | currency:'BRL':'symbol'}}</td>
                              <td>{{ reg.valorDesconto | currency:'BRL':'symbol'}}</td>
                              <td>{{ reg.valorLiquido| currency:'BRL':'symbol' }}</td>
                              <td>{{ reg.situacao }}</td>

                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td colspan="9">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20]"></mfBootstrapPaginator>
                              </td>
                            </tr>
                          </tfoot>
                        </table>

                      </div>


                    </div>
                  </div>
                </div>

              </div>


              <div class="col-md-12" style="margin-top: 10px">
                <div class="card color-bordered-table info-bordered-table">

                  <div class="card-header">
                    <h4 class="m-b-0 text-white">Configuração de Pagamento</h4>
                  </div>

                  <div class="col-12">
                    <div class="row p-t-20">

                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Configuração de Pagamento</label>
                          <select class="custom-select col-md-12" id="configuracaoPagamentoId" 
                            name="configuracaoPagamentoId" formControlName="configuracaoPagamentoId">
                            <option *ngFor="let configuracaoPagamento of configuracaoPagamentos" [ngValue]="configuracaoPagamento.id">{{
                              configuracaoPagamento.descricao }}</option>
                          </select>
                          <span class="text-danger" *ngIf="displayMessage.configuracaoPagamentoId">
                            <p [innerHTML]="displayMessage.configuracaoPagamentoId"></p>
                          </span>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                          <label class="control-label" for="codigo">Qtd. Parcela</label>
                          <input type="number" autocomplete="off" min="0" id="quantidadeParcela" name="quantidadeParcela" class="form-control text-input"
                            onlyNumber="true" formControlName="quantidadeParcela" />
                          <span class="text-danger" *ngIf="displayMessage.quantidadeParcela">
                            <p [innerHTML]="displayMessage.quantidadeParcela"></p>
                          </span>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                          <label class="control-label" for="codigo">Periodicidade</label>
                          <input type="number" autocomplete="off" min="0" id="periodicidade" name="periodicidade" class="form-control text-input" onlyNumber="true"
                            formControlName="periodicidade" />
                          <span class="text-danger" *ngIf="displayMessage.periodicidade">
                            <p [innerHTML]="displayMessage.periodicidade"></p>
                          </span>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                          <label class="control-label" for="codigo">Data do Primeiro Vencimento</label>
                          <input type="date" autocomplete="off" id="dataPrimeiroVencimento" name="dataPrimeiroVencimento" class="form-control text-input"
                            formControlName="dataPrimeiroVencimento" />
                          <span class="text-danger" *ngIf="displayMessage.dataPrimeiroVencimento">
                            <p [innerHTML]="displayMessage.dataPrimeiroVencimento"></p>
                          </span>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                          <label class="control-label" for="codigo">Percentual Juros</label>
                          <div class="input-group">
                            <input type="text" autocomplete="off" currencyMask id="percentualJuros" name="percentualJuros" class="form-control text-input"
                              formControlName="percentualJuros" />
                            <span class="input-group-addon">%</span>
                          </div>
                          <span class="text-danger" *ngIf="displayMessage.percentualJuros">
                            <p [innerHTML]="displayMessage.percentualJuros"></p>
                          </span>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                          <label class="control-label" for="codigo">Percentual Multa</label>
                          <div class="input-group">
                            <input type="text" autocomplete="off" currencyMask id="percentualMulta" name="percentualMulta" class="form-control text-input"
                              formControlName="percentualMulta" />
                            <span class="input-group-addon">%</span>
                          </div>
                          <span class="text-danger" *ngIf="displayMessage.percentualMulta">
                            <p [innerHTML]="displayMessage.percentualMulta"></p>
                          </span>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label">Data de Vencimento</label>
                          <div class="form-check">

                            <label class="custom-control custom-checkbox">
                              <input type="checkbox"  class="custom-control-input" formControlName="manterDiaVencimento"
                                (ngModelChange)="manterDiaVencimento = $event" [checkBoxSet]="manterDiaVencimento">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Manter dia Vencimento?</span>
                            </label>

                            <label class="custom-control custom-checkbox">
                              <input type="checkbox"  class="custom-control-input"
                                formControlName="diaUtil" (ngModelChange)="diaUtil = $event" [checkBoxSet]="diaUtil">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Manter dia Útil?</span>
                            </label>

                            <label class="custom-control custom-checkbox">
                              <input type="checkbox"  class="custom-control-input"
                                formControlName="ultimoDiaMes" (ngModelChange)="ultimoDiaMes = $event" [checkBoxSet]="ultimoDiaMes">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Último dia Mês?</span>
                            </label>

                          </div>

                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }" *ngIf="diaUtil =='S'">
                          <label class="control-label" for="codigo">Qtd. Dia Util</label>
                          <input type="number" autocomplete="off" min="0" id="numeroDiaUtil" name="numeroDiaUtil" class="form-control text-input" formControlName="numeroDiaUtil"
                          />
                          <span class="text-danger" *ngIf="displayMessage.numeroDiaUtil">
                            <p [innerHTML]="displayMessage.numeroDiaUtil"></p>
                          </span>
                        </div>
                      </div>



                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label">Data de Previsão</label>
                          <div class="form-check">

                            <label class="custom-control custom-checkbox">
                              <input type="checkbox"  class="custom-control-input" formControlName="posterga"
                                (ngModelChange)="posterga = $event" [checkBoxSet]="posterga">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Posterga?</span>
                            </label>

                            <label class="custom-control custom-checkbox">
                              <input type="checkbox"  class="custom-control-input" formControlName="antecipa"
                                (ngModelChange)="antecipa = $event" [checkBoxSet]="antecipa">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Antecipa?</span>
                            </label>

                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" formControlName="sabadoUtil" (ngModelChange)="sabadoUtil = $event" [checkBoxSet]="sabadoUtil">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Sábado dia Útil?</span>
                            </label>

                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" formControlName="domingoUtil" (ngModelChange)="domingoUtil = $event"
                                [checkBoxSet]="domingoUtil">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Domingo dia Útil?</span>
                            </label>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>


              <div class="col-md-12">
                <div class="card color-bordered-table info-bordered-table">

                  <div class="card-header">
                    <h4 class="m-b-0 text-white">Gerar Renegociação</h4>
                  </div>
                  <br>
                  <div class="col-12">
                    <div class="row p-t-5">

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" for="tipoCobrancaId">Tipo Cobrança</label>
                          <select class="custom-select col-md-12" id="tipoCobrancaId" name="tipoCobrancaId" formControlName="tipoCobrancaId">
                            <option *ngFor="let tipoCobranca of tipoCobrancas" [ngValue]="tipoCobranca.id">{{ tipoCobranca.descricao}}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Conta</label>
                          <select class="custom-select col-md-12" id="contaCorrenteId" name="contaCorrenteId" formControlName="contaCorrenteId">
                            <option *ngFor="let contaCorrente of contaCorrentes" [ngValue]="contaCorrente.id">{{ contaCorrente.descricao
                              }}
                            </option>
                          </select>
                          <span class="text-danger" *ngIf="displayMessage.contaCorrenteId">
                            <p [innerHTML]="displayMessage.contaCorrenteId"></p>
                          </span>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" for="descontoId">Desconto</label>
                          <select class="custom-select col-md-12" id="descontoId" name="descontoId" (ngModelChange)="onChange_Desconto($event)" formControlName="descontoId">
                            <option *ngFor="let desconto of descontos" [ngValue]="desconto.id">{{ desconto.descricao }}</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" for="valorDesconto">Valor Desconto</label>
                          <div class="input-group">
                            <span *ngIf="percOrValor == '$'" class="input-group-addon">R$</span>
                            <input type="number" autocomplete="off" min="0" id="valorDesconto" name="valorDesconto" onlyNumber="true" class="form-control text-input"
                              formControlName="valorDesconto" />
                            <span *ngIf="percOrValor == '%'" class="input-group-addon">%</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" for="valorAbono">Valor Abono</label>
                          <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input type="text" autocomplete="off" id="valorAbono" currencyMask name="valorAbono" class="form-control text-input" formControlName="valorAbono"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="control-label" for="valorAcrescimo">Valor Acrescimo</label>
                          <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input type="text" autocomplete="off" id="valorAcrescimo" currencyMask name="valorAcrescimo" class="form-control text-input"
                              formControlName="valorAcrescimo" />
                          </div>
                        </div>
                      </div>


                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="control-label" for="observacao">Observação</label>
                          <input type="text" autocomplete="off" id="observacao" name="observacao" class="form-control text-input" formControlName="observacao"
                          />
                        </div>
                      </div>



                    </div>

                  </div>







                  <div class="col-md-12">

                    <div class="table-responsive" *ngIf="titulo.parcela != null">
                      <table *ngIf="data != undefined" class="table m-b-0 toggle-arrow-tiny color-table info-table" [mfData]="data" #mf="mfDataTable"
                        [mfRowsOnPage]="5" (mfSelectedEntities)="setSelectedEntities($event)">
                        <thead>
                          <tr>

                            <th>
                              <mfDefaultSorter by="numero">Nro. Parcela</mfDefaultSorter>
                            </th>

                            <th>
                              <mfDefaultSorter by="dataVencimento">Dt. Vencimento</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="valorBruto">Valor Bruto</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="valorDesconto">Valor Desconto</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="valorLiquido">Valor Liquido</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="situacao">Situação</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by=""></mfDefaultSorter>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let reg of renegociacaoComponent.parcelasRenegociadas">


                            <td>{{ reg.numero }}/{{ reg.quantidadeParcela }}</td>
                            <td>{{ reg.dataVencimento | date:'dd/MM/yyyy' }}</td>
                            <td>{{ reg.valorBruto | currency:'BRL':'symbol'}}</td>
                            <td>{{ reg.valorDesconto | currency:'BRL':'symbol'}}</td>
                            <td>{{ reg.valorLiquido| currency:'BRL':'symbol' }}</td>
                            <td>{{ reg.situacao }}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="7">
                              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20]"></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>

                    </div>



                  </div>


                </div>
              </div>

              <div class="col-12">
                <div class="row p-t-5">

                  <div class="col-lg-2 col-md-6 align-content-lg-end">
                    <button type="button" class="btn btn-block btn-secondary" (click)="cancelar()">
                      <i class="fa fa-mail-reply"></i> Cancelar</button>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<app-filtro-renegociacaoparcela *ngIf="modalAddVisible != false" [(visible)]="modalAddVisible" [(natureza)]="natureza"></app-filtro-renegociacaoparcela>