<div class="row">
  <div class="card col-md-12 padd-left0 padd-right0">
    <div class="card">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Cadastro</h4>
      </div>
      <div class="card-block">

        <form class="form-horizontal" [formGroup]="tipoJornadaForm">
          <div class="form-body col-12">
            <div class="row p-t-20">

              <div class="col-md-6">
                <div class="form-group">
                  <label>Grupo</label>
                  <select class="custom-select col-12" id="grupoEmpresaId" name="grupoEmpresaId" formControlName="grupoEmpresaId">
                    <option *ngFor="let grupoEmpresa of grupoEmpresas" [ngValue]="grupoEmpresa.id">{{ grupoEmpresa.pessoa.nome }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.grupoEmpresaId">
                    <p [innerHTML]="displayMessage.grupoEmpresaId"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Empresa</label>
                  <select class="custom-select col-12" id="empresaId" name="empresaId" formControlName="empresaId">
                    <option *ngFor="let empresa of empresas" [ngValue]="empresa.id">{{ empresa.pessoa.nome }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.empresaId">
                    <p [innerHTML]="displayMessage.empresaId"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                  <label class="control-label" for="codigo">Código</label>
                  <input type="text" id="codigo" name="codigo" class="form-control text-input" formControlName="codigo" />
                  <span class="text-danger" *ngIf="displayMessage.codigo">
                    <p [innerHTML]="displayMessage.codigo"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.sigla }">
                  <label class="control-label" for="sigla">Sigla</label>
                  <input type="text" id="sigla" name="sigla" class="form-control text-input" formControlName="sigla" />
                  <span class="text-danger" *ngIf="displayMessage.sigla">
                    <p [innerHTML]="displayMessage.sigla"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.descricao }">
                  <label class="control-label" for="descricao">Descrição</label>
                  <input type="text" id="descricao" name="descricao" class="form-control text-input" formControlName="descricao" />
                  <span class="text-danger" *ngIf="displayMessage.descricao">
                    <p [innerHTML]="displayMessage.descricao"></p>
                  </span>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>