  <!-- Modal Configuracao de Pagamento -->
  <div class="modal fade modal-configuracaopagamento" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Configuração de Pagamento</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="card-block">
                        <div class="form-body col-12">
                            <div class="row p-t-20">
                                <label></label>
    
    
                            </div>
    
                        </div>
    
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-block btn-success" (click)="gerarBoleto(CarteiraIntegracaoId)" data-dismiss="modal"><i class="fa fa-refresh"></i> Gerar Faturamento </button>
                    </div>
                    <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cancelar</button>
    
                </div>
            </div>
        </div>
    </div>