<div class="row">
    <div class="card col-md-12 padd-left0 padd-right0">
        <div class="card">
            <div class="card-header">
               <h4 class="m-b-0 text-white">Cadastro</h4>
            </div>
            <div class="card-block">
                <form class="form-horizontal" novalidate (ngSubmit)="adicionarObservacao()" [formGroup]="observacaoForm">
                            <div class="form-body col-12">
                                <div class="row p-t-20">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Grupo</label>
                                            <select class="custom-select col-md-12" id="grupoEmpresaId" name="grupoEmpresaId" formControlName="grupoEmpresaId" (ngModelChange)="ConsultaEmpresa($event)">
                                                <option *ngFor="let grupoEmpresa of grupoEmpresas" [ngValue]="grupoEmpresa.id">{{grupoEmpresa.pessoa.nome}}</option>
                                            </select>
                                            <span class="text-danger" *ngIf="displayMessage.grupoEmpresaId"><p [innerHTML]="displayMessage.grupoEmpresaId"></p></span>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Empresa</label>
                                            <select class="custom-select col-md-12" id="empresaId" name="empresaId" formControlName="empresaId" (ngModelChange)="OnChangeEmpresa($event)">
                                                <option *ngFor="let empresa of empresas" [ngValue]="empresa.id">{{empresa.pessoa.nome}}</option>
                                            </select>
                                            <span class="text-danger" *ngIf="displayMessage.empresaId"><p [innerHTML]="displayMessage.empresaId"></p></span>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-2">
                                        <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                                            <label class="control-label" for="codigo">Codigo</label>
                                            <input type="text" [disableControl]="!maskValid" #focusCodigo [textMask]="{ mask: codMask }" autocomplete="off" id="codigo" name="codigo" class="form-control text-input" formControlName="codigo" />
                                            <span class="text-danger" *ngIf="displayMessage.codigo"><p [innerHTML]="displayMessage.codigo"></p></span>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-6">
                                        <div class="form-group" [ngClass]="{'has-error': displayMessage.descricao }">
                                            <label class="control-label" for="nome">Descrição</label>
                                            <input type="text" autocomplete="off" id="descricao" name="descricao" class="form-control text-input" formControlName="descricao" />
                                            <span class="text-danger" *ngIf="displayMessage.descricao"><p [innerHTML]="displayMessage.descricao"></p></span>
                                        </div>
                                    </div>
                    
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="nome">Observação Complementar</label>
                                            <input type="text" autocomplete="off" id="observacaoComplementar" name="observacaoComplementar" class="form-control text-input" formControlName="observacaoComplementar" />
                                        </div>
                                    </div>
                    
                                    <div class="col-md-12">
                                        <div class="row button-group">
                                            <div class="col-lg-2 col-md-6 align-content-lg-end">
                                                <button type="button" class="btn btn-block btn-secondary" (click)="cancelar()"> <i class="fa fa-mail-reply"></i> Cancelar</button>
                                            </div>
                                            <div class="col-lg-2 col-md-6">
                                                <button type="submit" [disabled]='!observacaoForm.valid'class="btn btn-block btn-success"><i class="fa fa-check"></i> Gravar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </form>
            </div>
        </div>
    </div>
</div>