<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Cadastro Titulos</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">Titulos a Receber</a>
        </li>
        <li class="breadcrumb-item active">Titulos</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="card col-md-12 padd-left0 padd-right0">
      <div class="card">
        <div class="card-header">
          <h4 class="m-b-0 text-white">Cadastro</h4>
        </div>
        <div class="card-block">
  
          <form class="form-horizontal" [formGroup]="tituloForm">       
            <div class="form-body col-12">
              <div class="row p-t-20">
  
                <!-- <div class="col-md-12">
                    <div class="row p-t-20"> -->
  
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Grupo</label>
                    <select class="custom-select col-md-12" id="grupoEmpresaId" name="grupoEmpresaId" formControlName="grupoEmpresaId" (ngModelChange)="ConsultaEmpresa($event)" >
                      <option *ngFor="let grupoEmpresa of grupoEmpresas" [ngValue]="grupoEmpresa.id">{{ grupoEmpresa.pessoa.nome }}</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.grupoEmpresaId">
                      <p [innerHTML]="displayMessage.grupoEmpresaId"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Empresa</label>
                    <select class="custom-select col-md-12" id="empresaId" name="empresaId" formControlName="empresaId" (ngModelChange)="ConsultaSelectEmpresa($event)">
                      <option *ngFor="let empresa of empresas" [ngValue]="empresa.id">{{ empresa.pessoa.nome }}</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.empresaId">
                      <p [innerHTML]="displayMessage.empresaId"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Tipo Documento</label>
                    <select class="custom-select col-md-12" id="tipoDocumentoId" name="tipoDocumentoId" formControlName="tipoDocumentoId">
                      <option *ngFor="let tipoDocumento of tipoDocumentos" [ngValue]="tipoDocumento.id">{{ tipoDocumento.descricao }}</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.tipoDocumentoId">
                      <p [innerHTML]="displayMessage.tipoDocumentoId"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-2">
                  <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                    <label class="control-label" for="codigo">Documento</label>
                    <input type="text" id="documento" name="documento" class="form-control text-input" formControlName="documento" />
                    <span class="text-danger" *ngIf="displayMessage.documento">
                      <p [innerHTML]="displayMessage.documento"></p>
                    </span>
                  </div>
                </div>
  
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Cliente</label>
                    <select class="custom-select col-md-12" id="clienteId" name="clienteId" formControlName="clienteId">
                      <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">{{ cliente.nome }}</option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.clienteId">
                      <p [innerHTML]="displayMessage.clienteId"></p>
                    </span>
                  </div>
                </div>
  
                <!-- </div>
                  </div> -->
  
                <div class="card">
                  <!--<ul class="nav nav-tabs customtab" role="tablist">-->
                  <!--<ul class="nav nav-pills m-t-30 m-b-30">-->
                  <ul class="nav nav-tabs customtab2" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#titulo" role="tab" aria-expanded="true">
                        <span class="hidden-sm-up">
                          <i class="ti-home"></i>
                        </span>
                        <span class="hidden-xs-down">Detalhes Titulo</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#desconto" role="tab" aria-expanded="true">
                        <span class="hidden-sm-up">
                          <i class="ti-email"></i>
                        </span>
                        <span class="hidden-xs-down">Desconto</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#historicoPadrao" role="tab" aria-expanded="true">
                        <span class="hidden-sm-up">
                          <i class="ti-user"></i>
                        </span>
                        <span class="hidden-xs-down">Histórico Padrão</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#parcela" role="tab" aria-expanded="true">
                        <span class="hidden-sm-up">
                          <i class="ti-email"></i>
                        </span>
                        <span class="hidden-xs-down">Parcela </span>
                      </a>
                    </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane active" id="titulo" role="tabpanel" aria-expanded="true">
                      <div class="form-body">
                        <div class="col-md-12">
                          <br>
                          <div class="row p-t-20">
  
                            <div class="col-md-2">
                              <div class="form-group">
                                <label>Natureza</label>
                                <select class="custom-select col-md-12" id="naturezaId" name="naturezaId" formControlName="naturezaId">
                                  <option *ngFor="let natureza of naturezas" [ngValue]="natureza.id">{{ natureza.descricao }}</option>
                                </select>
                                <span class="text-danger" *ngIf="displayMessage.naturezaId">
                                  <p [innerHTML]="displayMessage.naturezaId"></p>
                                </span>
                              </div>
                            </div>
  
                            <div class="col-md-2">
                              <div class="form-group">
                                <label>Conta</label>
                                <select class="custom-select col-md-12" id="contaCorrenteId" name="contaCorrenteId" formControlName="contaCorrenteId">
                                  <option *ngFor="let contaCorrente of contaCorrentes" [ngValue]="contaCorrente.id">{{ contaCorrente.descricao }}</option>
                                </select>
                                <span class="text-danger" *ngIf="displayMessage.contaCorrenteId">
                                  <p [innerHTML]="displayMessage.contaCorrenteId"></p>
                                </span>
                              </div>
                            </div>
  
                            <div class="col-md-2">
                              <div class="form-group">
                                <label>Origem</label>
                                <select class="custom-select col-md-12" id="origemId" name="origemId" formControlName="origemId">
                                  <option *ngFor="let origem of origems" [ngValue]="origem.id">{{ origem.descricao }}</option>
                                </select>
                                <span class="text-danger" *ngIf="displayMessage.origemId">
                                  <p [innerHTML]="displayMessage.origemId"></p>
                                </span>
                              </div>
                            </div>
  
                            <div class="col-md-6"> </div>
  
                            <div class="col-md-2">
                              <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                                <label class="control-label" for="codigo">Valor Bruto</label>
                                <div class="input-group">
                                  <span class="input-group-addon">R$</span>
                                  <input type="text" currencyMask id="valorBruto" name="valorBruto" class="form-control text-input" formControlName="valorBruto"
                                  />
                                </div>
                                <span class="text-danger" *ngIf="displayMessage.valorBruto">
                                  <p [innerHTML]="displayMessage.valorBruto"></p>
                                </span>
                              </div>
                            </div>
  
                            <div class="col-md-2">
                              <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                                <label class="control-label" for="codigo">Valor Desconto</label>
                                <div class="input-group">
                                  <span class="input-group-addon">R$</span>
                                  <input type="text" currencyMask id="valorDesconto" name="valorDesconto" class="form-control text-input" formControlName="valorDesconto"
                                  />
                                </div>
                                <span class="text-danger" *ngIf="displayMessage.valorDesconto">
                                  <p [innerHTML]="displayMessage.valorDesconto"></p>
                                </span>
                              </div>
                            </div>
  
                            <div class="col-md-2">
                              <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                                <label class="control-label" for="codigo">Valor Retenções</label>
                                <div class="input-group">
                                  <span class="input-group-addon">R$</span>
                                  <input type="text" currencyMask id="valorRetencoes" name="valorRetencoes" class="form-control text-input" formControlName="valorRetencoes"
                                  />
                                </div>
                                <span class="text-danger" *ngIf="displayMessage.valorRetencoes">
                                  <p [innerHTML]="displayMessage.valorRetencoes"></p>
                                </span>
                              </div>
                            </div>
  
                            <div class="col-md-2">
                              <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                                <label class="control-label" for="codigo">Valor Liquido</label>
                                <div class="input-group">
                                  <span class="input-group-addon">R$</span>
                                  <input type="text" currencyMask id="valorLiquido" name="valorLiquido" class="form-control text-input" formControlName="valorLiquido"
                                  />
                                </div>
                                <span class="text-danger" *ngIf="displayMessage.valorLiquido">
                                  <p [innerHTML]="displayMessage.valorLiquido"></p>
                                </span>
                              </div>
                            </div>
                            <br />
  
  
                            <div class="col-md-12" style="margin-top: 30px">
                              <div class="card color-bordered-table info-bordered-table">
  
                                <div class="card-header">
                                  <h4 class="m-b-0 text-white">Configuração de Pagamento</h4>
                                </div>
                                <br>
                                <div class="col-md-12">
                                  <div class="row p-t-20">
  
                                    <div class="col-md-3">
                                      <div class="form-group">
                                        <label>Configuração de Pagamento</label>
                                        <select class="custom-select col-md-12" id="configuracaoPagamentoId" (ngModelChange)="popularConfiguracaoPagamento($event)"
                                          name="configuracaoPagamentoId" formControlName="configuracaoPagamentoId">
                                          <option *ngFor="let configuracaoPagamento of configuracaoPagamentos" [ngValue]="configuracaoPagamento.id">{{ configuracaoPagamento.descricao }}</option>
                                        </select>
                                        <span class="text-danger" *ngIf="displayMessage.configuracaoPagamentoId">
                                          <p [innerHTML]="displayMessage.configuracaoPagamentoId"></p>
                                        </span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-1">
                                      <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                                        <label class="control-label" for="codigo">Qtd. Parcela</label>
                                        <input type="number" min="0" id="quantidadeParcela" name="quantidadeParcela" class="form-control text-input" formControlName="quantidadeParcela"
                                        />
                                        <span class="text-danger" *ngIf="displayMessage.quantidadeParcela">
                                          <p [innerHTML]="displayMessage.quantidadeParcela"></p>
                                        </span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-1">
                                      <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                                        <label class="control-label" for="codigo">Periodicidade</label>
                                        <input type="number" min="0" id="periodicidade" name="periodicidade" class="form-control text-input" formControlName="periodicidade"
                                        />
                                        <span class="text-danger" *ngIf="displayMessage.periodicidade">
                                          <p [innerHTML]="displayMessage.periodicidade"></p>
                                        </span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-2">
                                      <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                                        <label class="control-label" for="codigo">Percentual Juros</label>
                                        <div class="input-group">
                                          <input type="text" currencyMask id="percentualJuros" name="percentualJuros" class="form-control text-input" formControlName="percentualJuros"
                                          />
                                          <span class="input-group-addon">%</span>
                                        </div>
                                        <span class="text-danger" *ngIf="displayMessage.percentualJuros">
                                          <p [innerHTML]="displayMessage.percentualJuros"></p>
                                        </span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-2">
                                      <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                                        <label class="control-label" for="codigo">Percentual Multa</label>
                                        <div class="input-group">
                                          <input type="text" currencyMask id="percentualMulta" name="percentualMulta" class="form-control text-input" formControlName="percentualMulta"
                                          />
                                          <span class="input-group-addon">%</span>
                                        </div>
                                        <span class="text-danger" *ngIf="displayMessage.percentualMulta">
                                          <p [innerHTML]="displayMessage.percentualMulta"></p>
                                        </span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-2">
                                      <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                                        <label class="control-label" for="codigo">Data do Primeiro Vencimento</label>
                                        <input type="date" id="dataPrimeiroVencimento" name="dataPrimeiroVencimento" class="form-control text-input" formControlName="dataPrimeiroVencimento"
                                        />
                                        <span class="text-danger" *ngIf="displayMessage.dataPrimeiroVencimento">
                                          <p [innerHTML]="displayMessage.dataPrimeiroVencimento"></p>
                                        </span>
                                      </div>
                                    </div>

                                    <!-- <div class="col-md-4">
                                      <div class="form-group">
                                        <label class="control-label" for="dataPrimeiroVencimento">Dia do Primeiro Vencimento</label>
                                        <dx-select-box placeholder="Primeiro vencimento" [items]="selectDataVencimento" displayExpr="value" valueExpr="id" [searchEnabled]="true"
                                          formControlName="dataPrimeiroVencimento">
                                        </dx-select-box>
                                        <span class="text-danger" *ngIf="displayMessage.dataPrimeiroVencimento">
                                          <p [innerHTML]="displayMessage.dataPrimeiroVencimento"></p>
                                        </span>
                                      </div>
                                    </div> -->
  
                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <label class="control-label">Data de Vencimento</label>
                                        <div class="form-check">
  
                                          <label class="custom-control custom-checkbox">
                                            <input type="checkbox" [disableControlCheckBox]="diaUtil == 'S' || ultimoDiaMes == 'S'" class="custom-control-input" formControlName="manterDiaVencimento"
                                              (ngModelChange)="manterDiaVencimento = $event" [checkBoxSet]="titulo.manterDiaVencimento">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Manter dia Vencimento?</span>
                                          </label>
  
                                          <label class="custom-control custom-checkbox">
                                            <input type="checkbox" [disableControlCheckBox]="manterDiaVencimento == 'S' || ultimoDiaMes == 'S'" class="custom-control-input"
                                              formControlName="diaUtil" (ngModelChange)="diaUtil = $event" [checkBoxSet]="titulo.diaUtil">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Manter dia Útil?</span>
                                          </label>
  
                                          <label class="custom-control custom-checkbox">
                                            <input type="checkbox" [disableControlCheckBox]="diaUtil == 'S' || manterDiaVencimento == 'S'" class="custom-control-input"
                                              formControlName="ultimoDiaMes" (ngModelChange)="ultimoDiaMes = $event" [checkBoxSet]="titulo.ultimoDiaMes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Último dia Mês?</span>
                                          </label>
  
                                        </div>
  
                                      </div>
  
                                      <div class="col-md-2">
                                        <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }" *ngIf="diaUtil =='S'">
                                          <label class="control-label" for="codigo">Qtd. Dia Util</label>
                                          <input type="number" min="0" id="numeroDiaUtil" name="numeroDiaUtil" class="form-control text-input" formControlName="numeroDiaUtil"
                                          />
                                          <span class="text-danger" *ngIf="displayMessage.numeroDiaUtil">
                                            <p [innerHTML]="displayMessage.numeroDiaUtil"></p>
                                          </span>
                                        </div>
                                      </div>
  
                                    </div>
  
                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <label class="control-label">Data de Previsão</label>
                                        <div class="form-check">
  
                                          <label class="custom-control custom-checkbox">
                                            <input type="checkbox" [disableControlCheckBox]="antecipa == 'S'" class="custom-control-input" formControlName="posterga"
                                              (ngModelChange)="posterga = $event" [checkBoxSet]="titulo.posterga">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Posterga?</span>
                                          </label>
  
                                          <label class="custom-control custom-checkbox">
                                            <input type="checkbox" [disableControlCheckBox]="posterga == 'S'" class="custom-control-input" formControlName="antecipa"
                                              (ngModelChange)="antecipa = $event" [checkBoxSet]="titulo.antecipa">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Antecipa?</span>
                                          </label>
  
                                          <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" formControlName="sabadoUtil" (ngModelChange)="sabadoUtil = $event" [checkBoxSet]="titulo.sabadoUtil">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Sábado dia Útil?</span>
                                          </label>
  
                                          <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" formControlName="domingoUtil" (ngModelChange)="domingoUtil = $event"
                                              [checkBoxSet]="titulo.domingoUtil">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Domingo dia Útil?</span>
                                          </label>
  
                                        </div>
                                      </div>
                                    </div>
  
                                  </div>
                                </div>
  
                              </div>
                            </div>
                            <br>
  
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <div class="tab-pane" id="desconto" role="tabpanel" aria-expanded="true">
                    </div>
                    <div class="tab-pane" id="historicoPadrao" role="tabpanel" aria-expanded="true">
                    </div>
                    <div class="tab-pane" id="parcela" role="tabpanel" aria-expanded="true">
                    </div>
  
                  </div>
  
                </div>
    
              </div>
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </div>
