<div class="modal" data-backdrop="static">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myLargeModalLabel">Admissão</h4>
      <button type="button" class="close" *ngIf="visible" (click)="close()">×</button>
    </div>
    <div class="card-block">

      <form class="form-horizontal" novalidate (ngSubmit)="adicionarDesconto()" [formGroup]="empregadoDescontoForm">
        <div class="form-body">
          <div class="row p-t-20">

            <div class="col-md-12">
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" formControlName="sindicalizado" 
                  (ngModelChange)="empregado.sindicalizado = $event"
                    [checkBoxSet]="empregado.sindicalizado">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">É Sindicalizado ?</span>
                </label>

                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" formControlName="descontaMensalidadeSindical"
                    (ngModelChange)="empregado.descontaMensalidadeSindical = $event" [checkBoxSet]="empregado.descontaMensalidadeSindical">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Desconta Mensalidade Sindical ?</span>
                </label>

                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" formControlName="pagouContribuicaoSindical"
                    (ngModelChange)="empregado.pagouContribuicaoSindical = $event" [checkBoxSet]="empregado.pagouContribuicaoSindical">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Pagou Contribuição Sindical ?</span>
                </label>
              </div>
            </div>

          </div>
        </div>

        <div class="form-actions">
          <div class="row p-t-5">

            <div class="col-md-4">
              <button type="button" class="btn btn-block btn-secondary" (click)="cancelar()">
                <i class="fa fa-mail-reply"></i> Cancelar</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button type="button" (click)="adicionarDesconto()" [disabled]='!empregadoDescontoForm.valid' class="btn btn-block btn-success">
                <i class="fa fa-check"></i> Gravar</button>
            </div>
            <div class="col-md-4"></div>
            <br>

          </div>
        </div>

      </form>
    </div>
  </div>
</div>