<div class="row">
  <div class="card col-md-12 padd-left0 padd-right0">
    <div class="card">
      <div class="card-block" style="display: inline;">

        <div class="m-t-40">
          <div class="d-flex">
            <div class="col-md-10 align-content-lg-end">
              <div class="row button-group">
                <div>
                  <button type="button" class="btn btn-block btn-success" (click)="showModal('modalAdicionar')">
                    <i class="fa fa-plus"></i> Adicionar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table m-b-0 toggle-arrow-tiny color-table info-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
            [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="centroCustoId">Centro de Custo</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="percentual">Percentual</mfDefaultSorter>
                </th>
                <th>
                  Ações
                </th>
              </tr>
            </thead>
            <tbody *ngIf="historicoPadraoComponent.HistoricoPadrao != null || historicoPadraoComponent.HistoricoPadrao.historicoPadraoCentro != null">

              <tr *ngFor="let centroCusto of historicoPadraoComponent.HistoricoPadrao.historicoPadraoCentro" style="cursor:pointer">
                <td *ngIf="centroCusto.centroCustoId != null">{{ centroCusto.centroCusto.codigo }} - {{ centroCusto.centroCusto.descricao }}</td>
                <td *ngIf="centroCusto.centroCustoId != null">{{ centroCusto.percentual }}%</td>
                <td *ngIf="centroCusto.centroCustoId != null">
                  <label (click)="editarHistoricoPadraoCentro(centroCusto)" data-toggle="modal" data-target=".modal-desconto-edit">
                    <i class="fa fa-pencil text-info" style="cursor:pointer"></i>
                  </label>
                  <span style="padding-right:2px"></span>
                  <label (click)="inativarHistoricoPadraoCentro(centroCusto)" style="cursor:pointer" title="Inativar">
                    <i class="fa fa-trash-o text-danger"></i>
                  </label>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<app-adicionar-historicocentrocusto *ngIf="modalAddVisible != false" [(visible)]="modalAddVisible"></app-adicionar-historicocentrocusto>

<app-editar-historicocentrocusto *ngIf="modalEditVisible != false" [(visible)]="modalEditVisible"></app-editar-historicocentrocusto>