<div class="row">
  <div class="card col-md-12 padd-left0 padd-right0">
    <div class="card">
      <div class="card-block">

        <form class="form-horizontal" novalidate (ngSubmit)="adicionarContaCorrente()" [formGroup]="contaCorrenteForm">
          <div class="form-body col-12">
            <div class="row p-t-20">

              <div class="col-md-6">
                <div class="form-group">
                  <label>Grupo</label>
                  <select class="custom-select col-md-12" id="grupoEmpresaId" name="grupoEmpresaId" formControlName="grupoEmpresaId" (ngModelChange)="ConsultaEmpresa($event)">
                  <option *ngFor="let grupoEmpresa of grupoEmpresas" [ngValue]="grupoEmpresa.id">{{ grupoEmpresa.pessoa.nome }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.grupoEmpresaId">
                  <p [innerHTML]="displayMessage.grupoEmpresaId"></p>
                  </span>
                </div>
                </div>
                
                <div class="col-md-6">
                <div class="form-group">
                  <label>Empresa</label>
                  <select class="custom-select col-md-12" id="empresaId" name="empresaId" formControlName="empresaId" (ngModelChange)="ObterCNPJAutomatico($event)">
                  <option *ngFor="let empresa of empresas" [ngValue]="empresa.id">{{ empresa.pessoa.nome }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.empresaId">
                  <p [innerHTML]="displayMessage.empresaId"></p>
                  </span>
                </div>
                </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label>Tipo da Conta</label>
                  <select class="custom-select col-md-12" id="tipoContaId" name="tipoContaId" formControlName="tipoContaId" (ngModelChange)="formCaixaBanco($event)">
                    <option *ngFor="let tipoConta of tipoContas" [ngValue]="tipoConta.id">{{ tipoConta.descricao }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.tipoContaId">
                    <p [innerHTML]="displayMessage.tipoContaId"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label" for="codigo">Código</label>
                    <input type="text" [disableControl]="!maskValid" #focusCodigo [textMask]="{ mask: codMask }" autocomplete="off" name="codigo" class="form-control text-input" id="codigo" formControlName="codigo" />
                    <span class="text-danger" *ngIf="displayMessage.codigo">
                      <p [innerHTML]="displayMessage.codigo"></p>
                    </span>
                  </div>
              </div>
               
              <div class="col-md-8">
                    <div class="form-group">
                      <label for="descricao">Descrição</label>
                      <input type="text" autocomplete="off" name="descricao" class="form-control text-input" id="descricao" formControlName="descricao" maxlength="100" />
                      <span class="text-danger" *ngIf="displayMessage.descricao">
                        <p [innerHTML]="displayMessage.descricao"></p>
                      </span>
                    </div>
                  </div>

              <!--INCIO DIV CONTA BANCARIA  -->
              <div class="col-md-12" *ngIf="tipo != 'caixa'">
                <div class="card color-bordered-table info-bordered-table">
                  <div class="card-header">
                    <h4 class="m-b-0 text-white">Conta Bancaria</h4>
                  </div>
                  <br>
                  <div class="col-md-12">
                    <div class="row p-t-5">

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="cnpj">CNPJ</label>
                          <input type="text" autocomplete="off" [textMask]="{ mask: cnpjMask }" name="cnpj" class="form-control text-input" id="cnpj" formControlName="cnpj" />
                          <span class="text-danger" *ngIf="displayMessage.cnpj">
                            <p [innerHTML]="displayMessage.cnpj"></p>
                          </span>
                        </div>
                      </div>


                      <div class="col-md-8">
                        <div class="form-group">
                          <label for="nomeEmpresa">Nome Empresa</label>
                          <input type="text" autocomplete="off" name="nomeEmpresa" class="form-control text-input" id="nomeEmpresa" formControlName="nomeEmpresa" maxlength="20" />
                          <span class="text-danger" *ngIf="displayMessage.nomeEmpresa">
                            <p [innerHTML]="displayMessage.nomeEmpresa"></p>
                          </span>
                        </div>
                      </div>
                     
                      <div class="col-md-3">
                          <div class="form-group">
                            <label>Banco</label>
                            <select class="custom-select col-md-12" id="bancoId" name="bancoId" formControlName="bancoId">
                              <option *ngFor="let banco of bancos" [ngValue]="banco.id">{{banco.descricao}}</option>
                            </select>
                            <span class="text-danger" *ngIf="displayMessage.bancoId">
                              <p [innerHTML]="displayMessage.bancoId"></p>
                            </span>
                          </div>
                        </div>
                        
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Agência</label>
                            <select class="custom-select col-md-12" id="agenciaId" name="agenciaId" formControlName="agenciaId">
                              <option *ngFor="let agencia of agencias" [ngValue]="agencia.id">{{agencia.descricao}}</option>
                            </select>
                            <span class="text-danger" *ngIf="displayMessage.agenciaId">
                              <p [innerHTML]="displayMessage.agenciaId"></p>
                            </span>
                          </div>
                        </div>
          
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="conta">Conta</label>
                          <input type="text" autocomplete="off" name="conta" class="form-control text-input" id="conta" formControlName="conta" maxlength="20" />
                          <span class="text-danger" *ngIf="displayMessage.conta">
                            <p [innerHTML]="displayMessage.conta"></p>
                          </span>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="digito">Dígito</label>
                          <input type="text" autocomplete="off" name="digito" class="form-control text-input" id="digito" formControlName="digito" maxlength="2" />
                          <span class="text-danger" *ngIf="displayMessage.digito">
                            <p [innerHTML]="displayMessage.digito"></p>
                          </span>
                        </div>
                      </div>

                    </div>
                  </div>
                  <app-lista-dadoscobranca></app-lista-dadoscobranca>
                </div>
              </div>

              <div class="col-md-12" *ngIf="tipo == 'caixa'">
                <div class="card color-bordered-table info-bordered-table">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Conta Caixa</h4>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <div class="row p-t-5">      
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="dataInicial">Data Inicial</label>
                                    <input type="date" autocomplete="off" name="dataInicial" class="form-control text-input" id="dataInicial" formControlName="dataInicial" />
                                    <span class="text-danger" *ngIf="displayMessage.dataInicial">
                                        <p [innerHTML]="displayMessage.dataInicial"></p>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="saldoInicial">Saldo Inicial</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        <input type="text" autocomplete="off" currencyMask id="saldoInicial" name="saldoInicial" class="form-control text-input" formControlName="saldoInicial"
                                        />
                                    </div>
                                    <span class="text-danger" *ngIf="displayMessage.saldoInicial">
                                        <p [innerHTML]="displayMessage.saldoInicial"></p>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="saldoReal">Saldo Real</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        <input type="text" autocomplete="off" currencyMask name="saldoReal" class="form-control text-input" id="saldoReal" formControlName="saldoReal" />
                                    </div>                                                    
                                    <span class="text-danger" *ngIf="displayMessage.saldoReal">
                                        <p [innerHTML]="displayMessage.saldoReal"></p>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="saldoConciliado">Saldo Conciliado</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        <input type="text" autocomplete="off" currencyMask name="saldoConciliado" class="form-control text-input" id="saldoConciliado" formControlName="saldoConciliado"
                                         />
                                    </div>
                                    <span class="text-danger" *ngIf="displayMessage.saldoConciliado">
                                        <p [innerHTML]="displayMessage.saldoConciliado"></p>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="saldoConciliadoEmissao">Saldo Conciliado Emissão</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        <input type="text" autocomplete="off" currencyMask name="saldoConciliadoEmissao" class="form-control text-input" id="saldoConciliadoEmissao" formControlName="saldoConciliadoEmissao"
                                        />
                                    </div>    
                                    <span class="text-danger" *ngIf="displayMessage.saldoConciliadoEmissao">
                                        <p [innerHTML]="displayMessage.saldoConciliadoEmissao"></p>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="dataUltimaConciliacao">Data Ultima Conciliação</label>
                                    <input type="date" autocomplete="off" name="dataUltimaConciliacao" class="form-control text-input" id="dataUltimaConciliacao" formControlName="dataUltimaConciliacao"
                                    />
                                    <span class="text-danger" *ngIf="displayMessage.dataUltimaConciliacao">
                                        <p [innerHTML]="displayMessage.dataUltimaConciliacao"></p>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-check">

                                        <label class="custom-control custom-checkbox" style="margin-top: 30px">
                                            <input type="checkbox" class="custom-control-input" formControlName="sangria" (ngModelChange)="sangria = $event" [checkBoxSet]="contaCorrente.sangria">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Sangria</span>
                                        </label>

                                        <label class="custom-control custom-checkbox" style="margin-top: 30px">
                                            <input type="checkbox" class="custom-control-input" formControlName="caixaPrincipal" (ngModelChange)="caixaPrincipal = $event"
                                                [checkBoxSet]="contaCorrente.caixaPrincipal">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Caixa Principal</span>
                                        </label>

                                        <label class="custom-control custom-checkbox" style="margin-top: 30px">
                                            <input type="checkbox" class="custom-control-input" formControlName="visualizaFluxoCaixa" (ngModelChange)="visualizaFluxoCaixa = $event"
                                                [checkBoxSet]="contaCorrente.visualizaFluxoCaixa">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Visualiza Fluxo</span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <app-lista-contasaldo></app-lista-contasaldo> 

                </div>
            </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row button-group">
              <div class="col-lg-2 col-md-6 align-content-lg-end">
                <button type="button" class="btn btn-block btn-secondary" (click)="cancelar()">
                  <i class="fa fa-mail-reply"></i> Cancelar
                </button>
              </div>
              <div class="col-lg-2 col-md-6">
                <button type="submit" [disabled]='!contaCorrenteForm.valid' class="btn btn-block btn-success">
                  <i class="fa fa-check"></i> Gravar
                </button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
