<div class="row">
  <div class="card col-md-12 padd-left0 padd-right0">
    <div class="card">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Cadastro</h4>
      </div>
      <div class="card-block">
        <form novalidate [formGroup]="valorTransporteForm">
          <div class="form-body col-12">
            <div class="row p-t-20">

              <div class="col-md-6">
                <div class="form-group">
                  <label>Grupo</label>
                  <select class="custom-select col-md-12" id="grupoEmpresaId" name="grupoEmpresaId" formControlName="grupoEmpresaId" (ngModelChange)="ConsultaEmpresa($event)">
                    <option *ngFor="let grupoEmpresa of grupoEmpresas" [ngValue]="grupoEmpresa.id">{{ grupoEmpresa.pessoa.nome }}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Empresa</label>
                  <select class="custom-select col-md-12" id="empresaId" name="empresaId" formControlName="empresaId">
                    <option *ngFor="let empresa of empresas" [ngValue]="empresa.id">{{ empresa.pessoa.nome }}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label" for="codigo">Código</label>
                  <input type="text" id="codigo" name="codigo" maxlength="20" class="form-control text-input" 
                  formControlName="codigo" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label" for="sigla">Sigla</label>
                  <input type="text" id="sigla" name="sigla" class="form-control text-input" 
                  maxlength="20" formControlName="sigla"
                  />
                </div>
              </div>

              <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-error': displayMessage.descricao  }">
                    <label class="control-label" for="descricao">Descrição</label>
                    <input type="text" id="descricao" maxlength="100" name="descricao" class="form-control text-input" 
                    formControlName="descricao"
                    />
                  </div>
                </div>

              <div class="col-md-3">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.tipotransporte }">
                  <label>Tipo Transporte</label>
                  <select class="custom-select col-md-12" id="tipotransporte" name="tipotransporte" formControlName="tipotransporte">
                      <option *ngFor="let tipotransporte of tipotransportes" [ngValue]="tipotransporte.id">{{ tipotransporte.descricao }}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label" for="valorUnitario">Valor Unitário</label>
                    <div class="input-group">
                      <span class="input-group-addon">R$</span>
                      <input type="text" currencyMask id="valorUnitario" name="valorUnitario" 
                      class="form-control text-input" formControlName="valorUnitario" />
                    </div>
                  </div>
                </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="empresaTransportadora">Empresa/Transportadora</label>
                  <input type="text" id="empresaTransportadora" name="empresaTransportadora" class="form-control text-input" 
                  maxlength="50" formControlName="empresaTransportadora"
                  />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label" for="trajeto">Trajeto</label>
                  <input type="text" id="trajeto" name="trajeto" class="form-control text-input" 
                  maxlength="20" formControlName="trajeto"
                  />
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>