<div class="row">
  <div class="card col-md-12 padd-left0 padd-right0">
    <div class="card">
      <div class="card-header">
        <h4 class="m-b-0 text-white">NFS-e</h4>
      </div>
      <div class="card-block">
        <form class="form-horizontal" novalidate [formGroup]="filtroNfseForm">
          <div class="form-body col-12">
            <div class="row p-t-20">

              <div class="col-md-4">
                <div class="form-group">
                  <label>Grupo</label>
                  <select class="custom-select col-md-12" id="grupoEmpresaId" name="grupoEmpresaId" formControlName="grupoEmpresaId">
                    <option *ngFor="let grupoEmpresa of grupoEmpresas" [ngValue]="grupoEmpresa.id">{{ grupoEmpresa.pessoa.nome }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.grupoEmpresaId">
                    <p [innerHTML]="displayMessage.grupoEmpresaId"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Empresa</label>
                  <select class="custom-select col-md-12" id="empresaId" name="empresaId" formControlName="empresaId">
                    <option *ngFor="let empresa of empresas" [ngValue]="empresa.id">{{ empresa.pessoa.nome }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.empresaId">
                    <p [innerHTML]="displayMessage.empresaId"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="numeroRps">Nro. RPS</label>
                  <input type="text" autocomplete="off" id="numeroRps" name="numeroRps" class="form-control text-input" formControlName="numeroRps" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="numeroNfse">Nro. NFSe</label>
                  <input type="text" autocomplete="off" id="numeroNfse" name="numeroNfse" class="form-control text-input" formControlName="numeroNfse" />
                </div>
              </div>


              <div class="col-md-8">
                <div class="form-group">
                  <label for="clientes">Cliente</label>
                  <angular2-multiselect class="custom-select" [data]="dropdownList" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                    (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                    formControlName="clientes">
                  </angular2-multiselect>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="dataVencimentoInicial">Data Emissão Inicial</label>
                  <my-date-picker name="dataVencimentoInicial" [options]="myDatePickerOptions" formControlName="dataVencimentoInicial"></my-date-picker>
                  <span class="text-danger" *ngIf="displayMessage.dataVencimentoInicial">
                    <p [innerHTML]="displayMessage.dataVencimentoInicial"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="dataVencimentoFinal">Data Emissão Final</label>
                  <my-date-picker name="dataVencimentoFinal" [options]="myDatePickerOptions" formControlName="dataVencimentoFinal"></my-date-picker>
                  <span class="text-danger" *ngIf="displayMessage.dataVencimentoFinal">
                    <p [innerHTML]="displayMessage.dataVencimentoFinal"></p>
                  </span>
                </div>
              </div>



              <div class="col-md-4">
                <button type="button" style="margin-top: 27px" class="btn btn-block btn-success" (click)="filtrarParcelas()">
                  <i class="fa fa-refresh"></i> Filtrar </button>
              </div>



            </div>
          </div>

        </form>

        <div *ngIf="carregarTable != false" class="col-12">
          <!-- <div class="col-md-12">
            <div class="row p-t-20"> -->
          <div [ngBusy]="{busy: busy, message: 'Por favor, aguarde...', backdrop: false, delay: 600, minDuration: 600}">

            <div class="row button-group">
              <div class="col-lg-4 col-md-4">
                <button type="button" class="btn btn-block btn-danger" (click)="cancelarNfse()">
                  <i class="fa fa-times"></i> Cancelar NFS-e</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <button class="btn btn-info" (click)="gerarExcel(table,'tablenfeconsultar');">
                  <i class="fa fa-file-excel-o"></i> Excel</button>
              </div>
              <div class="col-md-1">
                <button class="btn btn-info" (click)="gerarPDF('tablenfeconsultar');">
                  <i class="fa fa-file-pdf-o"></i> PDF</button>
              </div>
            </div>
            <br/>
            <div class="table-responsive">
              <table #table id="tablenfeconsultar" *ngIf="data != undefined" class="table m-b-0 toggle-arrow-tiny color-table info-table"
                [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" (mfSelectedEntities)="setSelectedEntities($event)">
                <thead>
                  <tr>
                    <th>
                      <mfRowSelectorHead></mfRowSelectorHead>
                    </th>
                    <th>
                      <mfDefaultSorter by="numeroNfse">Nro. NFSe</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="numeroRps">Nro. RPS</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="cliente.pessoa.nome">Cliente</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="servicoValorServicos">Valor</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="dataEmissao">Data Emissão</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="status">Status</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by=""></mfDefaultSorter>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let reg of mf.data">

                    <td>
                      <mfRowSelector [entity]="reg" [checkboxId]="ndx"></mfRowSelector>
                    </td>
                    <td>{{ reg.numeroNfse }}</td>
                    <td>{{ reg.numeroRps }}</td>
                    <td>{{ reg.cliente.pessoa.nome }}</td>
                    <td>{{ reg.servicoValorServicos | currency:'BRL':'symbol'}}</td>
                    <td>{{ reg.dataEmissao | date:'dd/MM/yyyy' }}</td>
                    <td>{{ reg.status }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

          <!-- </div>
          </div> -->
        </div>























      </div>
    </div>






  </div>

  <!-- Modal Boleto -->
  <!-- <div class="modal fade modal-boleto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="card-block">
          <div *ngIf="srcImagem != ''">
            <img src="{{ srcImagem }}" />
          </div>

        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Fechar</button>

      </div>
    </div>
  </div>
</div> -->