<div class="row">
  <div class="card col-md-12 padd-left0 padd-right0">
    <div class="card">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Cadastro</h4>
      </div>
      <div class="card-block">

        <form class="form-horizontal" [formGroup]="paisForm">
          <div class="form-body col-md-12">
            <div class="row p-t-20">

              <div class="col-md-2">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                  <label class="control-label" for="codigo">Cód. seq. do cadastro</label>
                  <input type="text" id="codigo" name="codigo" minlength="2" maxlength="20" class="form-control text-input" formControlName="codigo"
                  />
                  <span class="text-danger" *ngIf="displayMessage.codigo">
                    <p [innerHTML]="displayMessage.codigo"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.sigla }">
                  <label class="control-label" for="sigla">Sigla</label>
                  <input type="text" id="sigla" name="sigla" minlength="2" maxlength="20" class="form-control text-input" formControlName="sigla"
                  />
                  <span class="text-danger" *ngIf="displayMessage.sigla">
                    <p [innerHTML]="displayMessage.sigla"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.codigoReceitaFederal }">
                  <label class="control-label" for="codigoReceitaFederal">Código da RFB</label>
                  <input type="text" id="codigoReceitaFederal" name="codigoReceitaFederal" maxlength="6" class="form-control text-input" formControlName="codigoReceitaFederal"
                  />
                  <span class="text-danger" *ngIf='displayMessage.codigoReceitaFederal'>
                    <p [innerHTML]="displayMessage.codigoReceitaFederal"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.descricao }">
                  <label class="control-label" for="descricao">Nome do País</label>
                  <input type="text" id="descricao" name="descricao" minlength="3" maxlength="100" class="form-control text-input" formControlName="descricao"
                  />
                  <span class="text-danger" *ngIf="displayMessage.descricao">
                    <p [innerHTML]="displayMessage.descricao"></p>
                  </span>
                </div>
              </div>

              <br><br>

            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
