<div class="row">
    <div class="card col-md-12 padd-left0 padd-right0">
        <div class="card">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Central de Cobrança</h4>
            </div>
            <div class="card-block">

                <form class="form-horizontal" novalidate [formGroup]="filtroCobrancaParcelaForm">
                    <div class="form-body col-12">
                        <div class="row p-t-5">

                            <div class="col-md-12">

                                <div class="row p-t-20">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Grupo</label>
                                            <dx-select-box placeholder="Selecione.." [items]="grupoEmpresas" displayExpr="pessoa.nome" valueExpr="id" [searchEnabled]="true"
                                                (ngModelChange)="ConsultaEmpresa($event)" (ngModelChange)="cobrancaComponent.CobrancaContato.grupoEmpresaId = $event"
                                                formControlName="grupoEmpresaId">
                                            </dx-select-box>
                                            <span class="text-danger" *ngIf="displayMessage.grupoEmpresaId">
                                                <p [innerHTML]="displayMessage.grupoEmpresaId"></p>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Empresa</label>
                                            <dx-select-box placeholder="Selecione.." [items]="empresas" displayExpr="pessoa.nome" valueExpr="id" [searchEnabled]="true"
                                                (ngModelChange)="ConsultaSelectEmpresa($event)" (ngModelChange)="cobrancaComponent.CobrancaContato.empresaId = $event"
                                                formControlName="empresaId">
                                            </dx-select-box>
                                            <span class="text-danger" *ngIf="displayMessage.empresaId">
                                                <p [innerHTML]="displayMessage.empresaId"></p>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Cliente</label>
                                            <dx-select-box placeholder="Selecione.." [items]="clientes" displayExpr="pessoa.nome" valueExpr="id" [searchEnabled]="true"
                                                formControlName="clienteId">
                                            </dx-select-box>
                                            <span class="text-danger" *ngIf="displayMessage.clienteId">
                                                <p [innerHTML]="displayMessage.clienteId"></p>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="dataReferencia">Data Referência</label>

                                            <dx-date-box autocomplete="off" name="dataReferencia" style="width: 100%" displayFormat="dd/MM/yyyy" formControlName="dataReferencia"></dx-date-box>

                                            <span class="text-danger" *ngIf="displayMessage.dataReferencia">
                                                <p [innerHTML]="displayMessage.dataReferencia"></p>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="row button-group">
                                            <div class="">
                                                <button type="button" class="btn btn-block btn-success" style="margin-top: 27px;" (click)="filtrarParcelas()">
                                                    <i class="fa fa-plus"></i> Filtrar Parcelas</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="carregarTable != false">

                                    <div [ngBusy]="{busy: busy, message: 'Por favor, aguarde...', backdrop: false, delay: 600, minDuration: 600}">

                                        <div class="row p-t-10"> </div>

                                        <div class="table-responsive">
                                            <table *ngIf="data != undefined" class="table m-b-0 toggle-arrow-tiny color-table info-table" [mfData]="data" #mf="mfDataTable"
                                                [mfRowsOnPage]="5" (mfSelectedEntities)="setSelectedEntities($event)">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <mfRowSelectorHead></mfRowSelectorHead>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="tituloId">Titulo</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="numero">Nro. Parcela</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="Nome">Nome</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="dataVencimento">Dt. Vencimento</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="valorBruto">Valor Bruto</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="valorDesconto">Valor Desconto</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="valorLiquido">Valor Liquido</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="situacao">Situação</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by=""></mfDefaultSorter>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let reg of cobrancaComponent.Parcela let i = index" [attr.data-index]="i" style="cursor:pointer" (click)="onChange_Parcela(i)">

                                                        <td>
                                                            <mfRowSelector [entity]="reg" [checkboxId]="ndx"></mfRowSelector>
                                                        </td>
                                                        <td>{{ reg.tituloId }}</td>
                                                        <td>{{ reg.numero }}/{{ reg.quantidadeParcela }}</td>
                                                        <td *ngIf="reg._Cliente != undefined">{{ reg._Cliente.pessoa.nome
                                                            }}</td>
                                                        <td>{{ reg.dataVencimento | date:'dd/MM/yyyy' }}</td>
                                                        <td>{{ reg.valorBruto | currency:'BRL':'symbol'}}</td>
                                                        <td>{{ reg.valorDesconto | currency:'BRL':'symbol'}}</td>
                                                        <td>{{ reg.valorLiquido| currency:'BRL':'symbol' }}</td>
                                                        <td>{{ reg.situacao }}</td>

                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="5">
                                                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20]"></mfBootstrapPaginator>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>


                                    </div>
                                </div>


                                <app-lista-cobrancacontato [ind]="index"></app-lista-cobrancacontato>


                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>