<div class="row">
  <div class="col-12">
    <div class="card col-md-12 padd-left0 padd-right0">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Cadastro</h4>
      </div>
      <div class="card-block">
        <form class="form-horizontal" novalidate (ngSubmit)="adicionarEstadoCivil()" [formGroup]="_estadoCivilForm">
          <div class="form-body col-12">
            <div class="row p-t-20">
              
              <div class="col-md-4">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                  <label class="control-label" for="codigo">Código</label>
                  <input type="text" autocomplete="off" id="codigo" name="codigo" class="form-control text-input" formControlName="codigo" />
                  <span class="text-danger" *ngIf="displayMessage.codigo">
                    <p [innerHTML]="displayMessage.codigo"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.codigoESocial }">
                  <label class="control-label" for="codigoESocial">Codigo ESocial</label>
                  <input type="text" autocomplete="off" id="codigoESocial" name="codigoESocial" class="form-control text-input" formControlName="codigoESocial" />
                  <span class="text-danger" *ngIf="displayMessage.codigoESocial">
                    <p [innerHTML]="displayMessage.codigoESocial"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.codigoNis }">
                  <label class="control-label" for="codigoNis">Codigo NIS</label>
                  <input type="text" autocomplete="off" id="codigoNis" name="codigoNis" class="form-control text-input" formControlName="codigoNis" />
                  <span class="text-danger" *ngIf="displayMessage.codigoNis">
                    <p [innerHTML]="displayMessage.codigoNis"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.sigla }">
                  <label class="control-label" for="sigla">Sigla</label>
                  <input type="text" autocomplete="off" id="sigla" name="sigla" class="form-control text-input" formControlName="sigla" />
                  <span class="text-danger" *ngIf="displayMessage.sigla">
                    <p [innerHTML]="displayMessage.sigla"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-8">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.descricao }">
                  <label class="control-label" for="descricao">Descrição</label>
                  <input type="text" autocomplete="off" id="descricao" name="descricao" class="form-control text-input" formControlName="descricao" />
                  <span class="text-danger" *ngIf="displayMessage.descricao">
                    <p [innerHTML]="displayMessage.descricao"></p>
                  </span>
                </div>
              </div>

              <br /><br /><br />
              <br /><br />
              <div class="col-md-12">
                <div class="row button-group">
                  <div class="col-lg-2 col-md-6 align-content-lg-end">
                    <button type="button" class="btn btn-block btn-secondary" (click)="cancelar()">
                      <i class="fa fa-mail-reply"></i> Cancelar</button>
                  </div>
                  
                  <div class="col-lg-2 col-md-6">
                    <button type="submit" class="btn btn-block btn-success">
                      <i class="fa fa-check"></i> Gravar</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>