<div class="row page-titles">
  <div class="col-md-6 col-8 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">Cadastro Banco</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:void(0)">Informações Bancárias</a>
      </li>
      <li class="breadcrumb-item active">Banco</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Cadastro</h4>
      </div>
      <div class="card-block">

        <form class="form-horizontal" [formGroup]="bancoForm">
          <div class="form-body">
            <div class="row p-t-20">

              <div class="col-md-2">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                  <label class="control-label" for="codigo">Código</label>
                  <input type="text" id="codigo" name="codigo" class="form-control text-input" formControlName="codigo" />
                  <span class="text-danger" *ngIf="displayMessage.codigo">
                    <p [innerHTML]="displayMessage.codigo"></p>
                  </span>
                </div>
              </div>


              <div class="col-md-3">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.codigoBancoCentral }">
                  <label class="control-label" for="codigoBancoCentral">Código Banco Central</label>
                  <input type="text" id="codigo" name="codigoBancoCentral" class="form-control text-input" formControlName="codigoBancoCentral" />
                  <span class="text-danger" *ngIf="displayMessage.codigoBancoCentral">
                    <p [innerHTML]="displayMessage.codigoBancoCentral"></p>
                  </span>
                </div>
              </div>


              <div class="col-md-2">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.sigla }">
                  <label class="control-label" for="sigla">Sigla</label>
                  <input type="text" id="sigla" name="sigla" class="form-control text-input" formControlName="sigla" />
                  <span class="text-danger" *ngIf="displayMessage.sigla">
                    <p [innerHTML]="displayMessage.sigla"></p>
                  </span>
                </div>
              </div>


              <div class="col-md-5">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.descricao }">
                  <label class="control-label" for="descricao">Descrição</label>
                  <input type="text" id="descricao" name="descricao" class="form-control text-input" formControlName="descricao" />
                  <span class="text-danger" *ngIf="displayMessage.descricao">
                    <p [innerHTML]="displayMessage.descricao"></p>
                  </span>
                </div>
              </div>

              <br /><br /><br />
              <br /><br />

            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>