<div class="modal" data-backdrop="static">

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myLargeModalLabel">Lançamento</h4>
            <button type="button" class="close" *ngIf="visible" (click)="close()">×</button>
        </div>

        <div class="card" class="col-12">
            <form class="form-horizontal" novalidate (ngSubmit)="adicionarMovimentoConta()" [formGroup]="movimentoContaForm">
                <div class="form-body col-12">
                    <div class="row p-t-20">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Grupo</label>
                                <select class="custom-select col-md-12" id="grupoEmpresaId" name="grupoEmpresaId" formControlName="grupoEmpresaId" (ngModelChange)="ConsultaEmpresa($event)">
                                    <option *ngFor="let grupoEmpresa of grupoEmpresas" [ngValue]="grupoEmpresa.id">{{ grupoEmpresa.pessoa.nome }}</option>
                                </select>
                                <span class="text-danger" *ngIf="displayMessage.grupoEmpresaId">
                                    <p [innerHTML]="displayMessage.grupoEmpresaId"></p>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Empresa</label>
                                <select class="custom-select col-md-12" id="empresaId" name="empresaId" formControlName="empresaId" (ngModelChange)="ConsultaSelectEmpresa($event)">
                                    <option *ngFor="let empresa of empresas" [ngValue]="empresa.id">{{ empresa.pessoa.nome }}</option>
                                </select>
                                <span class="text-danger" *ngIf="displayMessage.empresaId">
                                    <p [innerHTML]="displayMessage.empresaId"></p>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Conta</label>
                                <select class="custom-select col-md-12" id="contaCorrenteId" name="contaCorrenteId" formControlName="contaCorrenteId">
                                    <option *ngFor="let contaCorrente of contasCorrente" [ngValue]="contaCorrente.id">{{ contaCorrente.descricao }}</option>
                                </select>
                                <span class="text-danger" *ngIf="displayMessage.contaCorrenteId">
                                    <p [innerHTML]="displayMessage.contaCorrenteId"></p>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                                <label class="control-label" for="codigo">Código</label>
                                <input type="text" [disableControl]="!maskValid" #focusCodigo [textMask]="{ mask: codMask }" autocomplete="off" id="codigo" name="codigo" class="form-control text-input" formControlName="codigo" />
                                <span class="text-danger" *ngIf="displayMessage.codigo">
                                    <p [innerHTML]="displayMessage.codigo"></p>
                                </span>
                            </div>
                        </div>                     


                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="documento">Documento</label>
                                <input type="text" autocomplete="off" id="documento" name="documento" class="form-control text-input" formControlName="documento" />

                            </div>
                        </div>

                         <div class="col-md-6">
                            <div class="form-group">
                                <label>Tipo de Operação</label>
                                <select  class="custom-select col-md-12" id="siglaTipoOperacao" name="siglaTipoOperacao" formControlName="siglaTipoOperacao" (change)="valorSiglaDebitoCredito($event.target.value)" disabled>
                                    <option *ngFor="let tipoOperacao of tiposOperacao" [value]="tipoOperacao.id">{{ tipoOperacao.valor }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                                <div class="form-group">
                                    <label>Débito ou Crédito</label>
                                    <select  class="custom-select col-md-12" id="siglaDebitoCredito" name="siglaDebitoCredito" formControlName="siglaDebitoCredito" disabled>
                                        <option value="D">Débito</option>
                                        <option value="C">Crédito</option>
                                    </select>
                                    <span class="text-danger" *ngIf="displayMessage.siglaDebitoCredito">
                                        <p [innerHTML]="displayMessage.siglaDebitoCredito"></p>
                                    </span>
                                </div>
                            </div>                          

                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': displayMessage.dataEmissao }">
                                <label class="control-label" for="dataEmissao">Dt. Emissão</label>
                                <input type="date" autocomplete="off" id="dataEmissao" name="dataEmissao" value="{{dataAtual}}" class="form-control text-input" formControlName="dataEmissao" disabled/>
                                <span class="text-danger" *ngIf="displayMessage.dataEmissao" >
                                    <p [innerHTML]="displayMessage.dataEmissao"></p>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': displayMessage.dataCompensacao }">
                                <label class="control-label" for="dataCompensacao">Dt. Compensação</label>
                                <input type="date" autocomplete="off" id="dataCompensacao" name="dataCompensacao" value="{{dataAtual}}" class="form-control text-input" formControlName="dataCompensacao"
                                 disabled/>
                                <span class="text-danger" *ngIf="displayMessage.dataCompensacao">
                                    <p [innerHTML]="displayMessage.dataCompensacao"></p>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': displayMessage.valor }">
                                <label class="control-label" for="valor">Valor</label>
                                <div class="input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input type="text" autocomplete="off" currencyMask id="valor" name="valor" class="form-control text-input" formControlName="valor" />
                                </div>
                                <span class="text-danger" *ngIf="displayMessage.valor">
                                    <p [innerHTML]="displayMessage.valor"></p>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 15px">
                                <div class="card color-bordered-table info-bordered-table">
    
                                  <div class="card-header">
                                    <h4 class="m-b-0 text-white">Histórico Padrão</h4>
                                  </div>
                                        <div class="form-body">
                                            <div class="col-md-12">
                                                <div class="row p-t-20">
    
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Histórico Padrão</label>
                                                            <select class="custom-select col-md-12" id="historicoPadraoId" name="historicoPadraoId" formControlName="historicoPadraoId"
                                                                (ngModelChange)="preencherHistorico($event)">
                                                                <option *ngFor="let historicoPadrao of historicosPadrao" [ngValue]="historicoPadrao.id">{{ historicoPadrao.descricao }}</option>
                                                            </select>
                                                            <span class="text-danger" *ngIf="displayMessage.historicoPadraoId">
                                                                <p [innerHTML]="displayMessage.historicoPadraoId"></p>
                                                            </span>
                                                        </div>
                                                    </div>
    
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label class="control-label" for="descricaoHistoricoPadrao">Descrição</label>
                                                            <input type="text" autocomplete="off" id="descricaoHistoricoPadrao" name="descricaoHistoricoPadrao" value="{{ movimentoConta.descricaoHistoricoPadrao }}"
                                                                class="form-control text-input" formControlName="descricaoHistoricoPadrao"
                                                            />
    
                                                        </div>
                                                    </div>
    
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="centroTotalizado == true" class="col-md-12">
                                            <span class="text-danger">
                                                <p>Os Centros de Custo e Resultado devem totalizar 100%</p>
                                            </span>
    
                                        </div>
    
                                        <div *ngIf="carregarMovimentoContaCentro == true" class="col-md-12">
                                            <div class="row p-t-2">
    
                                                 <div class="col-md-6">
                                                    <app-lista-lancamentocentrocusto> </app-lista-lancamentocentrocusto>
                                                </div>
                                                <div class="col-md-6">
                                                    <app-lista-lancamentocentroresultado> </app-lista-lancamentocentroresultado>
                                                </div> 
    
                                            </div>
                                        </div>
    
                                </div>
                              </div>                        

                    
                        <div class="col-md-12">
                            <div class="row button-group">
                                <div class="col-lg-2 col-md-6 align-content-lg-end">
                                    <button type="button" class="btn btn-block btn-secondary" (click)="close()">
                                        <i class="fa fa-mail-reply"></i> Cancelar</button>
                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <button type="submit" [disabled]='!movimentoContaForm.valid' class="btn btn-block btn-success">
                                        <i class="fa fa-check"></i> Gravar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>