<div class="row">
  <div class="card col-md-12 padd-left0 padd-right0">
    <div class="card">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Cadastro</h4>
      </div>
      <div class="card-block">

        <form class="form-horizontal" [formGroup]="_estadoCivilForm">
          <div class="form-body col-12">
            <div class="row p-t-20">

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="codigo">Código</label>
                  <input type="text" id="codigo" name="codigo" class="form-control text-input" formControlName="codigo" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="codigoESocial">Codigo ESocial</label>
                  <input type="text" id="codigoESocial" name="codigoESocial" class="form-control text-input" formControlName="codigoESocial" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="codigoNis">Codigo NIS</label>
                  <input type="text" id="codigoNis" name="codigoNis" class="form-control text-input" formControlName="codigoNis" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="sigla">Sigla</label>
                  <input type="text" id="sigla" name="sigla" class="form-control text-input" formControlName="sigla" />
                </div>
              </div>

              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label" for="descricao">Descrição</label>
                  <input type="text" id="descricao" name="descricao" class="form-control text-input" formControlName="descricao" />
                </div>
              </div>

              <br />
              <br />
              <br />
              <br />
              <br />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>