<div class="row">
  <div class="card col-md-12 padd-left0 padd-right0">
    <div class="card">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Cadastro</h4>
      </div>
      <div class="card-block">

        <form class="form-horizontal" [formGroup]="operadoraPlanoSaudeForm">
          <div class="form-body col-12">
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Grupo</label>
                  <select class="custom-select col-md-12" id="grupoEmpresaId" name="grupoEmpresaId" formControlName="grupoEmpresaId" (ngModelChange)="ConsultaEmpresa($event)">
                    <option *ngFor="let grupoEmpresa of grupoEmpresas" [ngValue]="grupoEmpresa.id">{{ grupoEmpresa.pessoa.nome }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.grupoEmpresaId">
                    <p [innerHTML]="displayMessage.grupoEmpresaId"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Empresa</label>
                  <select class="custom-select col-md-12" id="empresaId" name="empresaId" formControlName="empresaId">
                    <option *ngFor="let empresa of empresas" [ngValue]="empresa.id">{{ empresa.pessoa.nome }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.empresaId">
                    <p [innerHTML]="displayMessage.empresaId"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.codigo }">
                  <label class="control-label" for="codigo">Código</label>
                  <input type="text" id="codigo" name="codigo" class="form-control text-input" formControlName="codigo" />
                  <span class="text-danger" *ngIf="displayMessage.codigo">
                    <p [innerHTML]="displayMessage.codigo"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.sigla }">
                  <label class="control-label" for="sigla">Sigla</label>
                  <input type="text" id="sigla" name="sigla" class="form-control text-input" formControlName="sigla" />
                  <span class="text-danger" *ngIf="displayMessage.sigla">
                    <p [innerHTML]="displayMessage.sigla"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-8">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.nome }">
                  <label class="control-label" for="nome">Nome</label>
                  <input type="text" id="nome" name="nome" class="form-control text-input" formControlName="nome" />
                  <span class="text-danger" *ngIf="displayMessage.nome">
                    <p [innerHTML]="displayMessage.nome"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.cnpj }">
                  <label class="control-label" for="cnpj">CNPJ</label>
                  <input type="text" [textMask]="{ mask: cnpjMask }" id="cnpj" name="cnpj" class="form-control text-input"
                    formControlName="cnpj" />
                  <span class="text-danger" *ngIf="displayMessage.cnpj">
                    <p [innerHTML]="displayMessage.cnpj"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.registroAns }">
                  <label class="control-label" for="registroAns">Registro ANS</label>
                  <input type="text" id="registroAns" name="registroAns" class="form-control text-input" formControlName="registroAns" />
                  <span class="text-danger" *ngIf="displayMessage.registroAns">
                    <p [innerHTML]="displayMessage.registroAns"></p>
                  </span>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.telefone }">
                  <label class="control-label" for="telefone">Telefone</label>
                  <input type="text" id="telefone" [textMask]="{ mask: telMask }" name="telefone" class="form-control text-input" formControlName="telefone"
                  />
                    <span class="text-danger" *ngIf="displayMessage.telefone">
                    <p [innerHTML]="displayMessage.telefone"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-12">
                <h3 class="box-title m-t-0">Endereço</h3>
                <hr>
              </div>

              <div class="col-md-2">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.cep }">
                  <label class="control-label" for="cep">CEP</label>
                  <input type="text" [textMask]="{ mask: cepMask }" id="cep" name="cep" class="form-control text-input" formControlName="cep" />
                  <span class="text-danger" *ngIf="displayMessage.cep">
                    <p [innerHTML]="displayMessage.cep"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.logradouro }">
                  <label class="control-label" for="logradouro">Logradouro</label>
                  <input type="text" readonly="true" id="logradouro" name="logradouro" class="form-control text-input" formControlName="logradouro"
                  />
                  <span class="text-danger" *ngIf="displayMessage.logradouro">
                    <p [innerHTML]="displayMessage.logradouro"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.numero }">
                  <label class="control-label" for="numero">Número</label>
                  <input type="text" id="numero" name="numero" class="form-control text-input" formControlName="numero" />
                  <span class="text-danger" *ngIf="displayMessage.numero">
                    <p [innerHTML]="displayMessage.numero"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.complemento }">
                  <label class="control-label" for="complemento">Complemento</label>
                  <input type="text" id="complemento" name="complemento" class="form-control text-input" formControlName="complemento" />
                  <span class="text-danger" *ngIf="displayMessage.complemento">
                    <p [innerHTML]="displayMessage.complemento"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.bairro }">
                  <label class="control-label" for="bairro">Bairro</label>
                  <input type="text" readonly="true" id="bairro" name="bairro" class="form-control text-input" formControlName="bairro" />
                  <span class="text-danger" *ngIf="displayMessage.bairro">
                    <p [innerHTML]="displayMessage.bairro"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Cidade</label>
                  <select class="custom-select col-md-12" id="localidadeId" name="localidadeId"
                    formControlName="localidadeId">
                    <option *ngFor="let localidade of localidades" [ngValue]="localidade.id">{{ localidade.descricao }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.localidadeId">
                    <p [innerHTML]="displayMessage.localidadeId"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Estado</label>
                  <select class="custom-select col-md-12" id="ufId" name="ufId" formControlName="ufId">
                    <option *ngFor="let uf of ufs" [ngValue]="uf.id">{{ uf.descricao }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.ufId">
                    <p [innerHTML]="displayMessage.ufId"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>País</label>
                  <select class="custom-select col-md-12" id="paisId" name="paisId" formControlName="paisId">
                    <option *ngFor="let pais of paises" [ngValue]="pais.id">{{ pais.descricao }}</option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.paisId">
                    <p [innerHTML]="displayMessage.paisId"></p>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group" [ngClass]="{'has-error': displayMessage.codigoMunicipioIbge }">
                  <label class="control-label" for="codigoMunicipioIbge">Código Município (IBGE)</label>
                  <input  type="text" id="codigoMunicipioIbge" name="codigoMunicipioIbge"
                    class="form-control text-input" formControlName="codigoMunicipioIbge" />
                  <span class="text-danger" *ngIf="displayMessage.codigoMunicipioIbge">
                    <p [innerHTML]="displayMessage.codigoMunicipioIbge"></p>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>