<div class="row">
  <div class="card col-md-12 padd-left0 padd-right0">
    <div class="card">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Cadastro</h4>
      </div>
      <div class="card-block">
        <form novalidate [formGroup]="equipprotecaoindividualForm">
          <div class="form-body col-12">
            <div class="row p-t-20">

              <div class="col-md-6">
                <div class="form-group">
                  <label>Grupo</label>
                  <select class="custom-select col-md-12" id="grupoEmpresaId" name="grupoEmpresaId" formControlName="grupoEmpresaId" (ngModelChange)="ConsultaEmpresa($event)">
                    <option *ngFor="let grupoEmpresa of grupoEmpresas" [ngValue]="grupoEmpresa.id">{{ grupoEmpresa.pessoa.nome }}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Empresa</label>
                  <select class="custom-select col-md-12" id="empresaId" name="empresaId" formControlName="empresaId">
                    <option *ngFor="let empresa of empresas" [ngValue]="empresa.id">{{ empresa.pessoa.nome }}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label" for="codigo">Código</label>
                  <input type="text" id="codigo" name="codigo" maxlength="20" class="form-control text-input" formControlName="codigo" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label" for="sigla">Sigla</label>
                  <input type="text" id="sigla" name="sigla" class="form-control text-input" 
                  maxlength="20" formControlName="sigla"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="descricao">Descrição</label>
                  <input type="text" id="descricao" maxlength="100" name="descricao" class="form-control text-input" 
                  formControlName="descricao"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="certificadoAprovacao">Certificado Aprovação</label>
                  <input type="text" id="certificadoAprovacao" maxlength="50" name="certificadoAprovacao" class="form-control text-input" 
                  formControlName="certificadoAprovacao"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="especificacao">Especificação </label>
                  <textarea id="especificacao" name="especificacao" class="form-control" 
                  formControlName="especificacao" rows="3">
                  </textarea>
                </div>
              </div>
              
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>